<div class="dashboard-spacing" style="position: relative;">
  <div [ngBusy]="[busy, busy2]"></div>
  <div class="row">
    <div class="col-lg-7 col-sm-12">
      <div class="wrapper" [formGroup]="form">
        <div *ngIf="dataLoaded || true">
          <section>
            <h1>
              Business Profile
            </h1>
            <p>
              Please complete your business profile below. Your information will only be saved once you click the Save
              button at the end of the page.
            </p>
          </section>

          <h3 class="blue-header">BUSINESS INFORMATION</h3>


          <div formGroupName="businessProfile">
            <!-- <h2>Worker</h2> -->
            <!-- <section>
                    <div [ngClass]="{'has-error': !this.form.get('worker.isldbworker').valid && this.form.get('worker.isldbworker').touched}">
                      <label>Is LDB Worker?</label>
                      <br />
                      <input type="checkbox" formControlName="isldbworker">
                      <div *ngIf="!this.form.get('worker.isldbworker').valid && this.form.get('worker.isldbworker').touched" class="alert alert-danger"
                        style="width: 250px;">
                        <div *ngIf="!this.form.get('worker.isldbworker').valid && this.form.get('worker.isldbworker').touched ">
                          This is required
                        </div>
                      </div>
                    </div>
                  </section> -->
            <section>
              <div>
                <label>Business - Legal Name </label>
                <br />
                <input class="form-control" style="max-width: 450px; min-width: 250px;" type="text" formControlName="firstname">
              </div>
            </section>
            <section>
              <div>
                <label>
                  Business - Doing Business As (DBA) Name</label>
                <br />
                <input class="form-control" style="max-width: 450px; min-width: 250px;" type="text" formControlName="middlename">
              </div>
            </section>
            <section>
              <div>
                <label>Business Number (BC Corporate Registry Number) <span style="color: red;">*</span></label>
                <br />
                <input class="form-control" style="max-width: 450px; min-width: 250px;" type="text" formControlName="lastname">
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address1_country').valid && this.form.get('contact.address1_country').touched}">
                <label>Business Type <span style="color: red;">*</span></label>
                <br />
                <select class="form-control" style="width: 250px;" formControlName="address2_country" (change)="form.get('contact.address2_postalcode').updateValueAndValidity()">
                  <option value="Canada">Canada</option>
                  <option value="United States of America">United States of America</option>
                  <hr>
                  <option *ngFor="let c of countryList" value="{{c}}">{{c}}</option>
                </select>
                <div *ngIf="!this.form.get('contact.address1_country').valid && this.form.get('contact.address1_country').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.address1_country').valid && this.form.get('contact.address1_country').touched ">
                    This is required.
                  </div>
                </div>
              </div>
            </section>
          </div>

          <h3 class="blue-header">BUSINESS ADDRESSES</h3>
          <p></p>
          <div formGroupName="businessProfile">
            <h3>Physical Address</h3>
            <section>
              <label>Street Address 1</label>
              <br />
              <input class="form-control" style="min-width: 450px; max-width: 450px;"  type="text" formControlName="address1_line1">
            </section>
            <section>
              <label>Street Address 2 <span style="color: red;">*</span></label>
              <br />
              <input class="form-control" style="min-width: 450px; max-width: 450px;"  type="text" formControlName="address1_line1">
            </section>
            <section>
              <label>City <span style="color: red;">*</span></label>
              <br />
              <input class="form-control" style="min-width: 350px; max-width: 350px;" type="text" formControlName="address1_city">
            </section>
            <section>
              <label>Province</label>
              <br />
              <input class="form-control" style="width: 200px;" readonly type="text" formControlName="address1_stateorprovince">
            </section>
            <section>
              <label>Postal Code <span style="color: red;">*</span></label>
              <br />
              <input class="form-control" style="width: 200px;" type="text" formControlName="address1_postalcode">
            </section>
            <section>
              <label>Country</label>
              <br />
              <input class="form-control" style="width: 350px;" readonly type="text" formControlName="address1_country">
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched}">
                <label>Business Phone Number</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="telephone1">
                <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <label>Business Email</label>
              <br />
              <input class="form-control" style="width: 350px;" type="text" formControlName="address1_country">
            </section>
            <section>
              <label>Website Address</label>
              <br />
              <input class="form-control" style="width: 350px;" type="text" formControlName="address1_country">
            </section>
          </div>






          <h3 class="blue-header">BUSINESS CONTACT</h3>
          <div formGroupName="primaryContact">
            <h2>Primary Contact</h2>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.firstname').valid && this.form.get('contact.firstname').touched}">
                <label>First Name <span style="color: red;">*</span></label>
                <br />
                <input class="form-control" style="width: 350px;" type="text" formControlName="firstname">
                <div *ngIf="!this.form.get('contact.firstname').valid && this.form.get('contact.firstname').touched"
                  class="alert alert-danger" style="width: 350px;">
                  <div *ngIf="!this.form.get('contact.firstname').valid && this.form.get('contact.firstname').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.lastname').valid && this.form.get('contact.lastname').touched}">
                <label>Last Name <span style="color: red;">*</span></label>
                <br />
                <input class="form-control" style="width: 350px;" type="text" formControlName="lastname">
                <div *ngIf="!this.form.get('contact.lastname').valid && this.form.get('contact.lastname').touched"
                  class="alert alert-danger" style="width: 350px;">
                  <div *ngIf="!this.form.get('contact.lastname').valid && this.form.get('contact.lastname').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.middlename').valid && this.form.get('contact.middlename').touched}">
                <label>Title/ Position</label>
                <br />
                <input class="form-control" style="width: 350px;" type="text" formControlName="middlename">
                <div *ngIf="!this.form.get('contact.middlename').valid && this.form.get('contact.middlename').touched"
                  class="alert alert-danger" style="width: 350px;">
                  <div *ngIf="!this.form.get('contact.middlename').valid && this.form.get('contact.middlename').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched}">
                <label>Phone Number (main) <span style="color: red;">*</span></label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="telephone1">
                <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched}">
                <label>Phone Number (alternate)</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="telephone1">
                <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.emailaddress1').valid && this.form.get('contact.emailaddress1').touched}">
                <label>Email <span style="color: red;">*</span></label>
                <br />
                <input class="form-control" style="width: 350px;" type="text" formControlName="emailaddress1" (blur)="trimValue(this.form.get('contact.emailaddress1'));">
                <div *ngIf="!this.form.get('contact.emailaddress1').valid && this.form.get('contact.emailaddress1').touched"
                  class="alert alert-danger" style="width: 350px;">
                  <div *ngIf="!this.form.get('contact.emailaddress1').valid && this.form.get('contact.emailaddress1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
          </div>
          <hr>
          <div formGroupName="additionalContact">
            <h2>Primary Contact</h2>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.firstname').valid && this.form.get('contact.firstname').touched}">
                <label>First Name <span style="color: red;">*</span></label>
                <br />
                <input class="form-control" style="width: 350px;" type="text" formControlName="firstname">
                <div *ngIf="!this.form.get('contact.firstname').valid && this.form.get('contact.firstname').touched"
                  class="alert alert-danger" style="width: 350px;">
                  <div *ngIf="!this.form.get('contact.firstname').valid && this.form.get('contact.firstname').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.lastname').valid && this.form.get('contact.lastname').touched}">
                <label>Last Name <span style="color: red;">*</span></label>
                <br />
                <input class="form-control" style="width: 350px;" type="text" formControlName="lastname">
                <div *ngIf="!this.form.get('contact.lastname').valid && this.form.get('contact.lastname').touched"
                  class="alert alert-danger" style="width: 350px;">
                  <div *ngIf="!this.form.get('contact.lastname').valid && this.form.get('contact.lastname').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.middlename').valid && this.form.get('contact.middlename').touched}">
                <label>Title/ Position</label>
                <br />
                <input class="form-control" style="width: 350px;" type="text" formControlName="middlename">
                <div *ngIf="!this.form.get('contact.middlename').valid && this.form.get('contact.middlename').touched"
                  class="alert alert-danger" style="width: 350px;">
                  <div *ngIf="!this.form.get('contact.middlename').valid && this.form.get('contact.middlename').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched}">
                <label>Phone Number (main) <span style="color: red;">*</span></label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="telephone1">
                <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched}">
                <label>Phone Number (alternate)</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="telephone1">
                <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.emailaddress1').valid && this.form.get('contact.emailaddress1').touched}">
                <label>Email <span style="color: red;">*</span></label>
                <br />
                <input class="form-control" style="width: 350px;" type="text" formControlName="emailaddress1" (blur)="trimValue(this.form.get('contact.emailaddress1'));">
                <div *ngIf="!this.form.get('contact.emailaddress1').valid && this.form.get('contact.emailaddress1').touched"
                  class="alert alert-danger" style="width: 350px;">
                  <div *ngIf="!this.form.get('contact.emailaddress1').valid && this.form.get('contact.emailaddress1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
          </div>
          
          <section *ngIf="!(form.valid && isBCIDValid()) && form.touched" style="color: #A12622">
            <i class="fas fa-exclamation-triangle"></i> Some required fields have not been completed.
          </section>
          <section style="position: relative;">
            <div [ngBusy]="[busy, busy2]"></div>
            <span style="float: right;">
              <button class="btn btn-secondary" routerLink="/worker-qualification/dashboard">
                <i class="fa fa-save"></i>
                SAVE FOR LATER</button>
              <button style="margin-left: 10px" (click)="gotoStep2()" class="btn btn-primary">SAVE & CONTINUE
                TO STEP 2 <i class="fas fa-chevron-right"></i></button>
            </span>
          </section>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <!-- <div [ngBusy]="busy"></div> -->
      <p></p>
      <section class="submit-container">
        <table>
          <tr>
            <td>
              <h2 class="round-icon-wrapper"><i class="fas fa-question"></i></h2>
            </td>
            <td style="padding-left: 10px">
              <h2>Update your personal information</h2>
            </td>
          </tr>
        </table>
        <div class="submit-content">
          <p>If you find an error in your personal information, please contact Service BC, ICBC or AddressChangeBC to
            correct
            it.
          </p>
          <ul>
            <li>
              <a style="color: #fff;" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/change-personal-information">BC
                Service Card</a>
            </li>
            <li>
              <a style="color: #fff;" href="https://www.icbc.com/driver-licensing/getting-licensed/Pages/Change-your-address-or-name.aspx">ICBC</a>
            </li>
            <li>
              <a style="color: #fff;" href="https://www.addresschange.gov.bc.ca/">AddressChangeBC</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="submit-container" style="background-color: #F2F2F2; color:#000; border: none;">
        <h2 style="color: #000">Collection Notice:</h2>
        <div class="submit-content">
          <p>
            The Security Programs Division (SPD) will collect your personal information for the purpose of fulfilling
            the requirements
            of the Cannabis Control and Licensing Act (CCLA) and associated regulations in accordance with Sections 26
            (a)
            and (c) of the Freedom of Information and Protection of Privacy Act. Should you have any questions about
            the
            collection, use, or disclosure of personal information, please contact the Senior Policy Analyst, Security
            Programs
            Division via mail to PO Box 9217 Stn Prov Govt Victoria, BC V8W 9J1; email to
            <a href="mailto:cannabissecurityscreening@gov.bc.ca">cannabissecurityscreening@gov.bc.ca</a>;
            or by telephone at 1-855-587-0185.</p>
        </div>
      </section>
    </div>
  </div>
</div>