<div>
  <div class="" style="position: relative;">
    <h1>Thank You</h1>
    <p>Thank you for submitting your Equipment Notification! You can track its progress on your client Dashboard. We
      will contact you if further information is required.</p>
    <p>
      If you have other unregistered <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-controlled-equipment" target="blank">Controlled Equipment</a>, please submit an Equipment Notification for each piece of
      equipment. For further information, including what is considered Controlled Equipment, please see
      <a href="https://www.gov.bc.ca/pill-press" target="blank">www.gov.bc.ca/pill-press</a>.
    </p>
    <div>
      <button style="float: right;" class="btn btn-primary" routerLink="/dashboard">RETURN TO DASHBOARD</button>
    </div>
  </div>
</div>