<div class="">
  <div [ngBusy]="busy"></div>
  <h2 class="step">STEP 3</h2>
  <h1>Seller Registration Application Review</h1>

  <p>
    You have provided the following information in your Seller Registration application. In order to proceed, please
    confirm that these details are correct. If they are not, please
    <a routerLink="/registered-seller/application/{{waiverId}}"> amend your answers</a> before submitting the application.
  </p>

  <h2>Equipment Information</h2>
  <table class="summary-table">
    <tr *ngFor="let item of equipmentInformation; let i = index;">
      <td [ngClass]="{ 'row-alt': i%2==1 }">
        <span *ngIf="i%2 === 1">{{item}}</span>
        <strong *ngIf="i%2 === 0">{{item}}</strong>
      </td>
    </tr>
  </table>

  <h2>Purpose of Controlled Equipment</h2>
  <table class="summary-table">
    <tr *ngFor="let item of purposeOfEquipment; let i = index;">
      <td [ngClass]="{ 'row-alt': i%2==1 }">
        <span *ngIf="i%2 === 1">{{item.text}}</span>
        <strong *ngIf="i%2 === 0">{{item.text}}</strong>
      </td>
    </tr>
  </table>

  <h2>Seller Business Details</h2>
  <table class="summary-table">
    <tr>
      <td class="table-row">
        <strong>Do you intend on selling Controlled Equipment to others?</strong>
      </td>
    </tr>
    <tr>
      <td class="row-alt">
        {{formData?.intendonsellingequipmenttoothers === true ? 'Yes' : 'No'}}
      </td>
    </tr>
    <tr>
      <td class="table-row">
        <strong>What type of seller are you?</strong>
      </td>
    </tr>
    <tr>
      <td class="row-alt">
        <div *ngIf="formData?.manufacturerofcontrolledequipment">Manufacturer of Controlled Equipment</div>
        <div *ngIf="formData?.onetimesellerofowncontrolledequipment">One-time seller of Controlled Equipment</div>
        <div *ngIf="formData?.retailerofcontrolledequipment">Retailer of Controlled Equipment</div>
        <div *ngIf="formData?.typeofsellerothercheck">Other: {{formData?.typeofsellerother}}</div>
      </td>
    </tr>
    <tr>
      <td class="table-row">
        <strong>What type of Controlled Equipment do you intend to sell?</strong>
      </td>
    </tr>
    <tr>
      <td class="row-alt">
        <div *ngIf="formData?.intendtosellpillpress">Pill press</div>
        <div *ngIf="formData?.intendtosellencapsulator">Encapsulator</div>
        <div *ngIf="formData?.intendtoselldiemouldorpunch">Die, mould, or punch</div>
        <div *ngIf="formData?.intendtosellpharmaceuticalmixerorblender">Pharmaceutical Mixer or Blender</div>
        <div *ngIf="formData?.intendtosellothercheck">Other: {{formData?.intendtosellother}}</div>
      </td>
    </tr>
    <tr>
      <td class="table-row">
        <strong>
          Please tell us more about your business as it relates to selling Controlled Equipment?</strong>
      </td>
    </tr>
    <tr>
      <td class="row-alt">
        {{formData?.additionalbusinessinformationaboutseller}}
      </td>
    </tr>
  </table>

  <h3 class="blue-header">Owner/Manager Information</h3>
  <table >
    <tr>
      <td class="table-row">
        <strong>Business owners and managers listed in this application:</strong>
      </td>
    </tr>
  </table>
  <table class="summary-table">
    <tr>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>TITLE/POSITION</th>
      <th>CONTACT DETAILS</th>
    </tr>
    <tr *ngFor="let item of ownersAndManagers" [ngClass]="{cssClass: expression}">
      <td>{{item?.contact?.firstName}}</td>
      <td>{{item?.contact?.lastName}}</td>
      <td>{{item?.jobTitle}}</td>
      <td>Phone: {{item?.contact?.phoneNumber}} <br>
        Email: {{item?.contact?.email}}</td>
    </tr>
  </table>
  <h3 class="blue-header">DECLARATION AND CONSENT</h3>
  <div [formGroup]="form" class="padded-section">
    <section style="display: flex">
      <section style="flex: 0 0 20px">
        <input type="checkbox"  formControlName="declarationOfCorrectInformation">
      </section>
      <span>I certify that, to the best of my knowledge, the information I have provided on my Registered Seller
        application and will provide as necessary is complete, honest, and accurate. I understand that a false
        statement or omission of facts herein may lead to the a denial of a registration being granted. I am also
        aware that later discovery of an omission or misrepresentation may be grounds for suspension or cancellation
        of a registration or for being prosecuted under provincial law. <strong class="error-states">*</strong>
      </span>
    </section>
    <div *ngIf="form.get('declarationOfCorrectInformation').value !== true && form.touched" style="background-color: #F2F2F2; margin-top: 10px; border-radius: 5px; padding: 10px; font: 15px Myriad Pro Regular #494949;">
      <fa-icon [icon]="faExclamationTriangle" style="margin-right: 10px;"></fa-icon>
      <span class="error-states">Please complete the declarations and consent section.</span>
    </div>
  </div>

  <div style="margin-top: 30px; display: flex; justify-content: space-between">
    <section>
      <span class="error-states">*</span> <i>Required field</i>
    </section>
    <section>
      <a href="javascript: save(false);" (click)="save(false)" style="margin-right: 10px">
          <fa-icon [icon]="faSave"></fa-icon>Save & Close</a>
      <button class="btn btn-secondary" style="margin-right: 10px" routerLink="/registered-seller/application/{{waiverId}}">EDIT
        APPLICATION</button>
      <button class="btn btn-primary" (click)="markAsTouched(); save(true)">SUBMIT</button>
    </section>
  </div>
</div>
