<div style="position: relative;">
  <div [ngBusy]="[busy]"></div>
  <div [formGroup]="form">
    <h2 class="step">STEP 3</h2>
    <h1 style="margin-top: 0;">Equipment Identification</h1>

    <h3 class="blue-header">EQUIPMENT IDENTIFICATION</h3>
    <section class="padded-section">
      <app-field label="How was this piece of Controlled Equipment built?" (change)="form.updateValueAndValidity()"
        [required]="true">
        <select class="form-control" style="width: 300px;" #eqType>
          <option value="">Please select an option</option>
          <option value="Commecially Manufactured">Commecially Manufactured</option>
          <option value="Custom Built">Custom Built (i.e. built out of spare parts)</option>
          <option value="Other">Other</option>
        </select>
      </app-field>

      <section *ngIf="eqType.value === 'Commecially Manufactured'">
        <app-field label="Name of Manufacturer" [required]="true">
          <input type="text" style="width: 680px" maxlength="100">
        </app-field>

        <app-field label="Make" [required]="true">
          <input type="text" style="width: 680px" maxlength="100">
        </app-field>

        <app-field label="Model" [required]="true">
          <input type="text" style="width: 680px" maxlength="100">
        </app-field>

        <app-field label="Serial Number" [required]="true">
          <input type="text" style="width: 680px" maxlength="100">
        </app-field>

      </section>

      <section *ngIf="eqType.value === 'Custom Built'">
        <app-field label="Please describe how this piece of Controlled Equipment was built." [required]="true">
          <textarea rows="5" class="form-control" maxlength="1000"></textarea>
        </app-field>

        <app-field label="Please provide the name of the person/business that built this piece of equipment."
          [required]="true">
          <input type="text" class="form-control">
        </app-field>

        <app-field label="Please provide the address of the person/business that built this piece of equipment.">
          <p></p>
          <div class="row padded-section">
            <section class="col-md-6 col-xs-12">
              <app-field label="Street Address 1" [required]="false">
                <input type="text" class="form-control">
              </app-field>
              <app-field label="City" [required]="false">
                <input type="text" class="form-control">
              </app-field>
            </section>
            <section class="col-md-6 col-xs-12">
              <app-field label="Street Address 2" [required]="false">
                <input type="text" class="form-control">
              </app-field>
              <div class="row">
                <section class="col-md-6 col-xs-12">
                  <app-field label="Province" [required]="false">
                    <input type="text" class="form-control">
                  </app-field>
                </section>
                <section class="col-md-6 col-xs-12">
                  <app-field label="Postal Code" [required]="false">
                    <input type="text" class="form-control">
                  </app-field>
                </section>
              </div>
            </section>
          </div>
        </app-field>

        <div class="notes" style="display: flex;">
          <i class="fas fa-exclamation-circle" style="color: #FCBA19; margin-right: 10px;"></i>
          <span>
            The Pill Press registry requires a unique identifier for this piece of Controlled Equipment. If there is no
            manufacturer serial number for this piece of equipment, you are requested to provide a "key part" serial
            number, and upload photos for identification purposes.
          </span>
        </div>

        <app-field label="Does this piece of custom-built equipment (or a key part) have a manufacturer's serial number?"
          [required]="true">
          <input type="radio" [value]="true" name="1">
          <span style="padding-right: 10px;">&nbsp;Yes</span>
          <input type="radio" [value]="false" name="1">
          <span>&nbsp;No</span>
        </app-field>

        <label>Please upload photos of this piece of Controlled Equipment with the following specifications:</label> <br>
        <section class="padded-section">
          <span>Photo 1: Picture of the front of the equipment.</span> <br>
          <span>Photo 2: Picture of the side of the equipment.</span> <br>
          <span>Photo 3: Close up picture of the equipment serial number, or key part serial number provided in this application.</span> <br>
        </section>
        <!-- <app-file-uploader></app-file-uploader> -->
      </section>


      <section *ngIf="eqType.value === 'Other'">
        <!-- <app-field>
          <i>If Other, please specify</i> <br>
          <input type="text" class="form-control" style="width: 350px">
        </app-field>

        <app-field label="Select the level of automation for this piece of Controlled Equipment." [required]="true">
          <select class="form-control" style="width: 300px;">
            <option value="">Please select an option</option>
            <option value="Semi-Automatic">Semi-Automatic</option>
            <option value="Automated">Automated</option>
            <option value="Capable of being automated">Capable of being automated</option>
            <option value="Manual">Manual</option>
            <option value="Other">Other</option>
          </select>
        </app-field> -->
      </section>

    </section>

    <div style="margin-top: 30px; display: flex; justify-content: space-between">
      <section>
        <!-- <strong class="error-states">*</strong> <i>Required field</i> -->
        <a href="javascript: void(0);" (click)="save(false)"><i class="fa fa-save" style="margin-right: 5px"></i>Save
          & Close</a>
      </section>
      <section>
        <button class="btn btn-secondary" style="margin-right: 10px" routerLink="">BACK TO STEP 2</button>
        <button class="btn btn-primary" (click)="markAsTouched(); save(true)">SAVE & CONTINUE</button>
      </section>
    </div>
  </div>
</div>