{
  "swagger": "2.0",
  "info": {
    "title": "OData Service for namespace Microsoft.Dynamics.CRM",
    "description": "This OData service is located at https://pillspressdev.api.crm3.dynamics.com/api/data/v8.2/",
    "version": "1.0.1"
  },
  "host": "pillspressdev.api.crm3.dynamics.com",
  "basePath": "/api/data/v8.2/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get entities from accounts",
        "operationId": "Accounts_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "openrevenue",
                "openrevenue desc",
                "territorycode",
                "territorycode desc",
                "lastusedincampaign",
                "lastusedincampaign desc",
                "address1_name",
                "address1_name desc",
                "address1_telephone2",
                "address1_telephone2 desc",
                "overriddencreatedon",
                "overriddencreatedon desc",
                "entityimageid",
                "entityimageid desc",
                "ownershipcode",
                "ownershipcode desc",
                "customersizecode",
                "customersizecode desc",
                "bcgov_submitteddate",
                "bcgov_submitteddate desc",
                "creditlimit",
                "creditlimit desc",
                "_primarycontactid_value",
                "_primarycontactid_value desc",
                "versionnumber",
                "versionnumber desc",
                "address1_county",
                "address1_county desc",
                "entityimage_timestamp",
                "entityimage_timestamp desc",
                "telephone3",
                "telephone3 desc",
                "openrevenue_date",
                "openrevenue_date desc",
                "donotbulkpostalmail",
                "donotbulkpostalmail desc",
                "address1_freighttermscode",
                "address1_freighttermscode desc",
                "address2_line1",
                "address2_line1 desc",
                "onholdtime",
                "onholdtime desc",
                "donotpostalmail",
                "donotpostalmail desc",
                "_createdbyexternalparty_value",
                "_createdbyexternalparty_value desc",
                "telephone2",
                "telephone2 desc",
                "_owningbusinessunit_value",
                "_owningbusinessunit_value desc",
                "primarysatoriid",
                "primarysatoriid desc",
                "shippingmethodcode",
                "shippingmethodcode desc",
                "address1_addressid",
                "address1_addressid desc",
                "address2_telephone1",
                "address2_telephone1 desc",
                "address1_fax",
                "address1_fax desc",
                "_ownerid_value",
                "_ownerid_value desc",
                "_createdonbehalfby_value",
                "_createdonbehalfby_value desc",
                "preferredcontactmethodcode",
                "preferredcontactmethodcode desc",
                "address2_city",
                "address2_city desc",
                "address2_latitude",
                "address2_latitude desc",
                "address2_composite",
                "address2_composite desc",
                "creditlimit_base",
                "creditlimit_base desc",
                "bcgov_mailaddressdiffromphysaddress",
                "bcgov_mailaddressdiffromphysaddress desc",
                "aging90_base",
                "aging90_base desc",
                "address2_postalcode",
                "address2_postalcode desc",
                "address2_name",
                "address2_name desc",
                "merged",
                "merged desc",
                "preferredappointmentdaycode",
                "preferredappointmentdaycode desc",
                "_owningteam_value",
                "_owningteam_value desc",
                "bcgov_businessnumber",
                "bcgov_businessnumber desc",
                "address2_line3",
                "address2_line3 desc",
                "revenue_base",
                "revenue_base desc",
                "aging30",
                "aging30 desc",
                "ftpsiteurl",
                "ftpsiteurl desc",
                "donotbulkemail",
                "donotbulkemail desc",
                "_originatingleadid_value",
                "_originatingleadid_value desc",
                "emailaddress3",
                "emailaddress3 desc",
                "_modifiedbyexternalparty_value",
                "_modifiedbyexternalparty_value desc",
                "paymenttermscode",
                "paymenttermscode desc",
                "websiteurl",
                "websiteurl desc",
                "revenue",
                "revenue desc",
                "bcgov_doingbusinessasname",
                "bcgov_doingbusinessasname desc",
                "address1_shippingmethodcode",
                "address1_shippingmethodcode desc",
                "description",
                "description desc",
                "_bcgov_currentbusinessmailingaddress_value",
                "_bcgov_currentbusinessmailingaddress_value desc",
                "tickersymbol",
                "tickersymbol desc",
                "bcgov_businesstype",
                "bcgov_businesstype desc",
                "lastonholdtime",
                "lastonholdtime desc",
                "bcgov_businessprofileupdate",
                "bcgov_businessprofileupdate desc",
                "statuscode",
                "statuscode desc",
                "marketcap",
                "marketcap desc",
                "_parentaccountid_value",
                "_parentaccountid_value desc",
                "_owninguser_value",
                "_owninguser_value desc",
                "address2_addressid",
                "address2_addressid desc",
                "_bcgov_additionalcontact_value",
                "_bcgov_additionalcontact_value desc",
                "_preferredsystemuserid_value",
                "_preferredsystemuserid_value desc",
                "address2_longitude",
                "address2_longitude desc",
                "_defaultpricelevelid_value",
                "_defaultpricelevelid_value desc",
                "openrevenue_state",
                "openrevenue_state desc",
                "address1_primarycontactname",
                "address1_primarycontactname desc",
                "accountcategorycode",
                "accountcategorycode desc",
                "statecode",
                "statecode desc",
                "marketcap_base",
                "marketcap_base desc",
                "donotfax",
                "donotfax desc",
                "address2_telephone3",
                "address2_telephone3 desc",
                "address2_postofficebox",
                "address2_postofficebox desc",
                "marketingonly",
                "marketingonly desc",
                "_preferredserviceid_value",
                "_preferredserviceid_value desc",
                "importsequencenumber",
                "importsequencenumber desc",
                "address1_upszone",
                "address1_upszone desc",
                "stageid",
                "stageid desc",
                "utcconversiontimezonecode",
                "utcconversiontimezonecode desc",
                "donotemail",
                "donotemail desc",
                "aging60",
                "aging60 desc",
                "customertypecode",
                "customertypecode desc",
                "telephone1",
                "telephone1 desc",
                "opendeals_state",
                "opendeals_state desc",
                "address1_postofficebox",
                "address1_postofficebox desc",
                "_modifiedby_value",
                "_modifiedby_value desc",
                "yominame",
                "yominame desc",
                "address2_country",
                "address2_country desc",
                "address1_line2",
                "address1_line2 desc",
                "bcgov_bceid",
                "bcgov_bceid desc",
                "donotsendmm",
                "donotsendmm desc",
                "address1_postalcode",
                "address1_postalcode desc",
                "traversedpath",
                "traversedpath desc",
                "_transactioncurrencyid_value",
                "_transactioncurrencyid_value desc",
                "fax",
                "fax desc",
                "numberofemployees",
                "numberofemployees desc",
                "opendeals_date",
                "opendeals_date desc",
                "address2_upszone",
                "address2_upszone desc",
                "address2_freighttermscode",
                "address2_freighttermscode desc",
                "accountratingcode",
                "accountratingcode desc",
                "aging90",
                "aging90 desc",
                "address1_longitude",
                "address1_longitude desc",
                "participatesinworkflow",
                "participatesinworkflow desc",
                "emailaddress2",
                "emailaddress2 desc",
                "creditonhold",
                "creditonhold desc",
                "address1_telephone1",
                "address1_telephone1 desc",
                "createdon",
                "createdon desc",
                "name",
                "name desc",
                "exchangerate",
                "exchangerate desc",
                "address2_addresstypecode",
                "address2_addresstypecode desc",
                "address1_stateorprovince",
                "address1_stateorprovince desc",
                "address2_line2",
                "address2_line2 desc",
                "entityimage",
                "entityimage desc",
                "primarytwitterid",
                "primarytwitterid desc",
                "timespentbymeonemailandmeetings",
                "timespentbymeonemailandmeetings desc",
                "accountnumber",
                "accountnumber desc",
                "address1_line1",
                "address1_line1 desc",
                "_territoryid_value",
                "_territoryid_value desc",
                "accountid",
                "accountid desc",
                "address1_composite",
                "address1_composite desc",
                "_slaid_value",
                "_slaid_value desc",
                "address2_county",
                "address2_county desc",
                "bcgov_declarationofcorrectinformation",
                "bcgov_declarationofcorrectinformation desc",
                "followemail",
                "followemail desc",
                "donotphone",
                "donotphone desc",
                "accountclassificationcode",
                "accountclassificationcode desc",
                "_preferredequipmentid_value",
                "_preferredequipmentid_value desc",
                "sic",
                "sic desc",
                "bcgov_clientid",
                "bcgov_clientid desc",
                "entityimage_url",
                "entityimage_url desc",
                "processid",
                "processid desc",
                "address2_telephone2",
                "address2_telephone2 desc",
                "address1_addresstypecode",
                "address1_addresstypecode desc",
                "address1_utcoffset",
                "address1_utcoffset desc",
                "address2_fax",
                "address2_fax desc",
                "businesstypecode",
                "businesstypecode desc",
                "aging60_base",
                "aging60_base desc",
                "address1_country",
                "address1_country desc",
                "_modifiedonbehalfby_value",
                "_modifiedonbehalfby_value desc",
                "address2_shippingmethodcode",
                "address2_shippingmethodcode desc",
                "stockexchange",
                "stockexchange desc",
                "_createdby_value",
                "_createdby_value desc",
                "address1_line3",
                "address1_line3 desc",
                "bcgov_foippaconsent",
                "bcgov_foippaconsent desc",
                "aging30_base",
                "aging30_base desc",
                "openrevenue_base",
                "openrevenue_base desc",
                "sharesoutstanding",
                "sharesoutstanding desc",
                "_slainvokedid_value",
                "_slainvokedid_value desc",
                "address1_city",
                "address1_city desc",
                "address2_primarycontactname",
                "address2_primarycontactname desc",
                "address1_latitude",
                "address1_latitude desc",
                "modifiedon",
                "modifiedon desc",
                "_masterid_value",
                "_masterid_value desc",
                "address2_utcoffset",
                "address2_utcoffset desc",
                "_bcgov_currentbusinessphysicaladdress_value",
                "_bcgov_currentbusinessphysicaladdress_value desc",
                "bcgov_consentforemailcommunication",
                "bcgov_consentforemailcommunication desc",
                "emailaddress1",
                "emailaddress1 desc",
                "timezoneruleversionnumber",
                "timezoneruleversionnumber desc",
                "opendeals",
                "opendeals desc",
                "address2_stateorprovince",
                "address2_stateorprovince desc",
                "preferredappointmenttimecode",
                "preferredappointmenttimecode desc",
                "industrycode",
                "industrycode desc",
                "address1_telephone3",
                "address1_telephone3 desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "openrevenue",
                "territorycode",
                "lastusedincampaign",
                "address1_name",
                "address1_telephone2",
                "overriddencreatedon",
                "entityimageid",
                "ownershipcode",
                "customersizecode",
                "bcgov_submitteddate",
                "creditlimit",
                "_primarycontactid_value",
                "versionnumber",
                "address1_county",
                "entityimage_timestamp",
                "telephone3",
                "openrevenue_date",
                "donotbulkpostalmail",
                "address1_freighttermscode",
                "address2_line1",
                "onholdtime",
                "donotpostalmail",
                "_createdbyexternalparty_value",
                "telephone2",
                "_owningbusinessunit_value",
                "primarysatoriid",
                "shippingmethodcode",
                "address1_addressid",
                "address2_telephone1",
                "address1_fax",
                "_ownerid_value",
                "_createdonbehalfby_value",
                "preferredcontactmethodcode",
                "address2_city",
                "address2_latitude",
                "address2_composite",
                "creditlimit_base",
                "bcgov_mailaddressdiffromphysaddress",
                "aging90_base",
                "address2_postalcode",
                "address2_name",
                "merged",
                "preferredappointmentdaycode",
                "_owningteam_value",
                "bcgov_businessnumber",
                "address2_line3",
                "revenue_base",
                "aging30",
                "ftpsiteurl",
                "donotbulkemail",
                "_originatingleadid_value",
                "emailaddress3",
                "_modifiedbyexternalparty_value",
                "paymenttermscode",
                "websiteurl",
                "revenue",
                "bcgov_doingbusinessasname",
                "address1_shippingmethodcode",
                "description",
                "_bcgov_currentbusinessmailingaddress_value",
                "tickersymbol",
                "bcgov_businesstype",
                "lastonholdtime",
                "bcgov_businessprofileupdate",
                "statuscode",
                "marketcap",
                "_parentaccountid_value",
                "_owninguser_value",
                "address2_addressid",
                "_bcgov_additionalcontact_value",
                "_preferredsystemuserid_value",
                "address2_longitude",
                "_defaultpricelevelid_value",
                "openrevenue_state",
                "address1_primarycontactname",
                "accountcategorycode",
                "statecode",
                "marketcap_base",
                "donotfax",
                "address2_telephone3",
                "address2_postofficebox",
                "marketingonly",
                "_preferredserviceid_value",
                "importsequencenumber",
                "address1_upszone",
                "stageid",
                "utcconversiontimezonecode",
                "donotemail",
                "aging60",
                "customertypecode",
                "telephone1",
                "opendeals_state",
                "address1_postofficebox",
                "_modifiedby_value",
                "yominame",
                "address2_country",
                "address1_line2",
                "bcgov_bceid",
                "donotsendmm",
                "address1_postalcode",
                "traversedpath",
                "_transactioncurrencyid_value",
                "fax",
                "numberofemployees",
                "opendeals_date",
                "address2_upszone",
                "address2_freighttermscode",
                "accountratingcode",
                "aging90",
                "address1_longitude",
                "participatesinworkflow",
                "emailaddress2",
                "creditonhold",
                "address1_telephone1",
                "createdon",
                "name",
                "exchangerate",
                "address2_addresstypecode",
                "address1_stateorprovince",
                "address2_line2",
                "entityimage",
                "primarytwitterid",
                "timespentbymeonemailandmeetings",
                "accountnumber",
                "address1_line1",
                "_territoryid_value",
                "accountid",
                "address1_composite",
                "_slaid_value",
                "address2_county",
                "bcgov_declarationofcorrectinformation",
                "followemail",
                "donotphone",
                "accountclassificationcode",
                "_preferredequipmentid_value",
                "sic",
                "bcgov_clientid",
                "entityimage_url",
                "processid",
                "address2_telephone2",
                "address1_addresstypecode",
                "address1_utcoffset",
                "address2_fax",
                "businesstypecode",
                "aging60_base",
                "address1_country",
                "_modifiedonbehalfby_value",
                "address2_shippingmethodcode",
                "stockexchange",
                "_createdby_value",
                "address1_line3",
                "bcgov_foippaconsent",
                "aging30_base",
                "openrevenue_base",
                "sharesoutstanding",
                "_slainvokedid_value",
                "address1_city",
                "address2_primarycontactname",
                "address1_latitude",
                "modifiedon",
                "_masterid_value",
                "address2_utcoffset",
                "_bcgov_currentbusinessphysicaladdress_value",
                "bcgov_consentforemailcommunication",
                "emailaddress1",
                "timezoneruleversionnumber",
                "opendeals",
                "address2_stateorprovince",
                "preferredappointmenttimecode",
                "industrycode",
                "address1_telephone3"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "accountleads_association",
                "listaccount_association",
                "account_entitlement_Customer",
                "account_entitlement_Account",
                "account_bookableresource_AccountId",
                "ownerid",
                "Account_ActivityPointers",
                "Account_ServiceAppointments",
                "Account_SyncErrors",
                "createdby",
                "lead_customer_accounts",
                "Account_Email_SendersAccount",
                "Account_Email_EmailSender",
                "contract_billingcustomer_accounts",
                "Account_Annotation",
                "Account_SharepointDocumentLocation",
                "preferredserviceid",
                "sla_account_sla",
                "account_connections2",
                "modifiedby",
                "account_PostFollows",
                "account_PostRegardings",
                "Account_Faxes",
                "masterid",
                "account_master_account",
                "preferredequipmentid",
                "owningbusinessunit",
                "Account_AsyncOperations",
                "transactioncurrencyid",
                "Account_DuplicateBaseRecord",
                "preferredsystemuserid",
                "CreatedAccount_BulkOperationLogs2",
                "createdonbehalfby",
                "Account_RecurringAppointmentMasters",
                "Account_Phonecalls",
                "primarycontactid",
                "Account_SocialActivities",
                "SocialActivity_PostAuthorAccount_accounts",
                "opportunity_customer_accounts",
                "SourceAccount_BulkOperationLogs",
                "Account_CustomerAddress",
                "slakpiinstance_account",
                "originatingleadid",
                "Account_Tasks",
                "opportunity_parent_account",
                "slainvokedid_account_sla",
                "Account_BulkDeleteFailures",
                "quote_customer_accounts",
                "SocialActivity_PostAuthor_accounts",
                "territoryid",
                "contact_customer_accounts",
                "incident_customer_accounts",
                "invoice_customer_accounts",
                "Account_Appointments",
                "contractlineitem_customer_accounts",
                "Account_Emails",
                "parentaccountid",
                "account_parent_account",
                "Socialprofile_customer_accounts",
                "Account_DuplicateMatchingRecord",
                "account_activity_parties",
                "account_connections1",
                "owningteam",
                "defaultpricelevelid",
                "lead_parent_account",
                "contract_customer_accounts",
                "account_actioncard",
                "owninguser",
                "Account_Letters",
                "stageid_processstage",
                "order_customer_accounts",
                "modifiedonbehalfby",
                "account_knowledgebaserecord",
                "msdyn_account_knowledgearticle",
                "account_QueueItems",
                "account_Teams",
                "bcgov_account_bcgov_businesscontact_BusinessProfile",
                "bcgov_account_customaddress",
                "bcgov_account_equipment_CurrentBusinessOwner",
                "bcgov_account_location_BusinessProfile",
                "bcgov_AdditionalContact",
                "bcgov_CurrentBusinessPhysicalAddress",
                "bcgov_CurrentBusinessMailingAddress",
                "bcgov_account_customaddress_BusinessProfile",
                "bcgov_account_contact_BusinessLegalName",
                "bcgov_account_bcgov_certificate_CertificateHolderBusiness"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of accounts",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
                  }
                }
              }
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Add new entity to accounts",
        "operationId": "Accounts_Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
            },
            "description": "New entity"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Required in order for the service to return a JSON representation of the object.",
            "type": "string",
            "default": "return=representation"
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/accounts({accountid})": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get entity from accounts by key",
        "operationId": "Accounts_GetByKey",
        "parameters": [
          {
            "name": "accountid",
            "in": "path",
            "required": true,
            "description": "key: accountid",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "openrevenue",
                "territorycode",
                "lastusedincampaign",
                "address1_name",
                "address1_telephone2",
                "overriddencreatedon",
                "entityimageid",
                "ownershipcode",
                "customersizecode",
                "bcgov_submitteddate",
                "creditlimit",
                "_primarycontactid_value",
                "versionnumber",
                "address1_county",
                "entityimage_timestamp",
                "telephone3",
                "openrevenue_date",
                "donotbulkpostalmail",
                "address1_freighttermscode",
                "address2_line1",
                "onholdtime",
                "donotpostalmail",
                "_createdbyexternalparty_value",
                "telephone2",
                "_owningbusinessunit_value",
                "primarysatoriid",
                "shippingmethodcode",
                "address1_addressid",
                "address2_telephone1",
                "address1_fax",
                "_ownerid_value",
                "_createdonbehalfby_value",
                "preferredcontactmethodcode",
                "address2_city",
                "address2_latitude",
                "address2_composite",
                "creditlimit_base",
                "bcgov_mailaddressdiffromphysaddress",
                "aging90_base",
                "address2_postalcode",
                "address2_name",
                "merged",
                "preferredappointmentdaycode",
                "_owningteam_value",
                "bcgov_businessnumber",
                "address2_line3",
                "revenue_base",
                "aging30",
                "ftpsiteurl",
                "donotbulkemail",
                "_originatingleadid_value",
                "emailaddress3",
                "_modifiedbyexternalparty_value",
                "paymenttermscode",
                "websiteurl",
                "revenue",
                "bcgov_doingbusinessasname",
                "address1_shippingmethodcode",
                "description",
                "_bcgov_currentbusinessmailingaddress_value",
                "tickersymbol",
                "bcgov_businesstype",
                "lastonholdtime",
                "bcgov_businessprofileupdate",
                "statuscode",
                "marketcap",
                "_parentaccountid_value",
                "_owninguser_value",
                "address2_addressid",
                "_bcgov_additionalcontact_value",
                "_preferredsystemuserid_value",
                "address2_longitude",
                "_defaultpricelevelid_value",
                "openrevenue_state",
                "address1_primarycontactname",
                "accountcategorycode",
                "statecode",
                "marketcap_base",
                "donotfax",
                "address2_telephone3",
                "address2_postofficebox",
                "marketingonly",
                "_preferredserviceid_value",
                "importsequencenumber",
                "address1_upszone",
                "stageid",
                "utcconversiontimezonecode",
                "donotemail",
                "aging60",
                "customertypecode",
                "telephone1",
                "opendeals_state",
                "address1_postofficebox",
                "_modifiedby_value",
                "yominame",
                "address2_country",
                "address1_line2",
                "bcgov_bceid",
                "donotsendmm",
                "address1_postalcode",
                "traversedpath",
                "_transactioncurrencyid_value",
                "fax",
                "numberofemployees",
                "opendeals_date",
                "address2_upszone",
                "address2_freighttermscode",
                "accountratingcode",
                "aging90",
                "address1_longitude",
                "participatesinworkflow",
                "emailaddress2",
                "creditonhold",
                "address1_telephone1",
                "createdon",
                "name",
                "exchangerate",
                "address2_addresstypecode",
                "address1_stateorprovince",
                "address2_line2",
                "entityimage",
                "primarytwitterid",
                "timespentbymeonemailandmeetings",
                "accountnumber",
                "address1_line1",
                "_territoryid_value",
                "accountid",
                "address1_composite",
                "_slaid_value",
                "address2_county",
                "bcgov_declarationofcorrectinformation",
                "followemail",
                "donotphone",
                "accountclassificationcode",
                "_preferredequipmentid_value",
                "sic",
                "bcgov_clientid",
                "entityimage_url",
                "processid",
                "address2_telephone2",
                "address1_addresstypecode",
                "address1_utcoffset",
                "address2_fax",
                "businesstypecode",
                "aging60_base",
                "address1_country",
                "_modifiedonbehalfby_value",
                "address2_shippingmethodcode",
                "stockexchange",
                "_createdby_value",
                "address1_line3",
                "bcgov_foippaconsent",
                "aging30_base",
                "openrevenue_base",
                "sharesoutstanding",
                "_slainvokedid_value",
                "address1_city",
                "address2_primarycontactname",
                "address1_latitude",
                "modifiedon",
                "_masterid_value",
                "address2_utcoffset",
                "_bcgov_currentbusinessphysicaladdress_value",
                "bcgov_consentforemailcommunication",
                "emailaddress1",
                "timezoneruleversionnumber",
                "opendeals",
                "address2_stateorprovince",
                "preferredappointmenttimecode",
                "industrycode",
                "address1_telephone3"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "accountleads_association",
                "listaccount_association",
                "account_entitlement_Customer",
                "account_entitlement_Account",
                "account_bookableresource_AccountId",
                "ownerid",
                "Account_ActivityPointers",
                "Account_ServiceAppointments",
                "Account_SyncErrors",
                "createdby",
                "lead_customer_accounts",
                "Account_Email_SendersAccount",
                "Account_Email_EmailSender",
                "contract_billingcustomer_accounts",
                "Account_Annotation",
                "Account_SharepointDocumentLocation",
                "preferredserviceid",
                "sla_account_sla",
                "account_connections2",
                "modifiedby",
                "account_PostFollows",
                "account_PostRegardings",
                "Account_Faxes",
                "masterid",
                "account_master_account",
                "preferredequipmentid",
                "owningbusinessunit",
                "Account_AsyncOperations",
                "transactioncurrencyid",
                "Account_DuplicateBaseRecord",
                "preferredsystemuserid",
                "CreatedAccount_BulkOperationLogs2",
                "createdonbehalfby",
                "Account_RecurringAppointmentMasters",
                "Account_Phonecalls",
                "primarycontactid",
                "Account_SocialActivities",
                "SocialActivity_PostAuthorAccount_accounts",
                "opportunity_customer_accounts",
                "SourceAccount_BulkOperationLogs",
                "Account_CustomerAddress",
                "slakpiinstance_account",
                "originatingleadid",
                "Account_Tasks",
                "opportunity_parent_account",
                "slainvokedid_account_sla",
                "Account_BulkDeleteFailures",
                "quote_customer_accounts",
                "SocialActivity_PostAuthor_accounts",
                "territoryid",
                "contact_customer_accounts",
                "incident_customer_accounts",
                "invoice_customer_accounts",
                "Account_Appointments",
                "contractlineitem_customer_accounts",
                "Account_Emails",
                "parentaccountid",
                "account_parent_account",
                "Socialprofile_customer_accounts",
                "Account_DuplicateMatchingRecord",
                "account_activity_parties",
                "account_connections1",
                "owningteam",
                "defaultpricelevelid",
                "lead_parent_account",
                "contract_customer_accounts",
                "account_actioncard",
                "owninguser",
                "Account_Letters",
                "stageid_processstage",
                "order_customer_accounts",
                "modifiedonbehalfby",
                "account_knowledgebaserecord",
                "msdyn_account_knowledgearticle",
                "account_QueueItems",
                "account_Teams",
                "bcgov_account_bcgov_businesscontact_BusinessProfile",
                "bcgov_account_customaddress",
                "bcgov_account_equipment_CurrentBusinessOwner",
                "bcgov_account_location_BusinessProfile",
                "bcgov_AdditionalContact",
                "bcgov_CurrentBusinessPhysicalAddress",
                "bcgov_CurrentBusinessMailingAddress",
                "bcgov_account_customaddress_BusinessProfile",
                "bcgov_account_contact_BusinessLegalName",
                "bcgov_account_bcgov_certificate_CertificateHolderBusiness"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "accounts"
        ],
        "summary": "Delete entity from accounts",
        "operationId": "Accounts_Delete",
        "parameters": [
          {
            "name": "accountid",
            "in": "path",
            "required": true,
            "description": "key: accountid",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "accounts"
        ],
        "summary": "Update entity in accounts",
        "operationId": "Accounts_Update",
        "parameters": [
          {
            "name": "accountid",
            "in": "path",
            "required": true,
            "description": "key: accountid",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.account"
            },
            "description": "New property values"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/bcgov_applicationtypes": {
      "get": {
        "tags": [
          "applicationtypes"
        ],
        "summary": "Get entities from bcgov_applicationtypes",
        "operationId": "Applicationtypes_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "overriddencreatedon",
                "overriddencreatedon desc",
                "_modifiedonbehalfby_value",
                "_modifiedonbehalfby_value desc",
                "modifiedon",
                "modifiedon desc",
                "bcgov_displayorder",
                "bcgov_displayorder desc",
                "versionnumber",
                "versionnumber desc",
                "createdon",
                "createdon desc",
                "utcconversiontimezonecode",
                "utcconversiontimezonecode desc",
                "statuscode",
                "statuscode desc",
                "_owninguser_value",
                "_owninguser_value desc",
                "_owningbusinessunit_value",
                "_owningbusinessunit_value desc",
                "timezoneruleversionnumber",
                "timezoneruleversionnumber desc",
                "importsequencenumber",
                "importsequencenumber desc",
                "_ownerid_value",
                "_ownerid_value desc",
                "_owningteam_value",
                "_owningteam_value desc",
                "_createdby_value",
                "_createdby_value desc",
                "_modifiedby_value",
                "_modifiedby_value desc",
                "bcgov_applicationtypeid",
                "bcgov_applicationtypeid desc",
                "bcgov_name",
                "bcgov_name desc",
                "statecode",
                "statecode desc",
                "_createdonbehalfby_value",
                "_createdonbehalfby_value desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "overriddencreatedon",
                "_modifiedonbehalfby_value",
                "modifiedon",
                "bcgov_displayorder",
                "versionnumber",
                "createdon",
                "utcconversiontimezonecode",
                "statuscode",
                "_owninguser_value",
                "_owningbusinessunit_value",
                "timezoneruleversionnumber",
                "importsequencenumber",
                "_ownerid_value",
                "_owningteam_value",
                "_createdby_value",
                "_modifiedby_value",
                "bcgov_applicationtypeid",
                "bcgov_name",
                "statecode",
                "_createdonbehalfby_value"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdbyname",
                "createdonbehalfbyname",
                "modifiedbyname",
                "modifiedonbehalfbyname",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "bcgov_applicationtype_SyncErrors",
                "bcgov_applicationtype_DuplicateMatchingRecord",
                "bcgov_applicationtype_DuplicateBaseRecord",
                "bcgov_applicationtype_AsyncOperations",
                "bcgov_applicationtype_BulkDeleteFailures",
                "bcgov_applicationtype_incident_ApplicationTypeId",
                "bcgov_applicationtype_bcgov_termsconditionspreset_ApplicationType",
                "bcgov_applicationtype_bcgov_certificate_CertificateType",
                "bcgov_applicationtype_bcgov_certificatetermsandconditions_CertificateType"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of bcgov_applicationtypes",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_applicationtype"
                  }
                }
              }
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "applicationtypes"
        ],
        "summary": "Add new entity to bcgov_applicationtypes",
        "operationId": "Applicationtypes_Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_applicationtype"
            },
            "description": "New entity"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Required in order for the service to return a JSON representation of the object.",
            "type": "string",
            "default": "return=representation"
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_applicationtype"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/bcgov_applicationtypes({bcgov_applicationtypeid})": {
      "get": {
        "tags": [
          "applicationtypes"
        ],
        "summary": "Get entity from bcgov_applicationtypes by key",
        "operationId": "Applicationtypes_GetByKey",
        "parameters": [
          {
            "name": "bcgov_applicationtypeid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_applicationtypeid",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "overriddencreatedon",
                "_modifiedonbehalfby_value",
                "modifiedon",
                "bcgov_displayorder",
                "versionnumber",
                "createdon",
                "utcconversiontimezonecode",
                "statuscode",
                "_owninguser_value",
                "_owningbusinessunit_value",
                "timezoneruleversionnumber",
                "importsequencenumber",
                "_ownerid_value",
                "_owningteam_value",
                "_createdby_value",
                "_modifiedby_value",
                "bcgov_applicationtypeid",
                "bcgov_name",
                "statecode",
                "_createdonbehalfby_value"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdbyname",
                "createdonbehalfbyname",
                "modifiedbyname",
                "modifiedonbehalfbyname",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "bcgov_applicationtype_SyncErrors",
                "bcgov_applicationtype_DuplicateMatchingRecord",
                "bcgov_applicationtype_DuplicateBaseRecord",
                "bcgov_applicationtype_AsyncOperations",
                "bcgov_applicationtype_BulkDeleteFailures",
                "bcgov_applicationtype_incident_ApplicationTypeId",
                "bcgov_applicationtype_bcgov_termsconditionspreset_ApplicationType",
                "bcgov_applicationtype_bcgov_certificate_CertificateType",
                "bcgov_applicationtype_bcgov_certificatetermsandconditions_CertificateType"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_applicationtype"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "applicationtypes"
        ],
        "summary": "Delete entity from bcgov_applicationtypes",
        "operationId": "Applicationtypes_Delete",
        "parameters": [
          {
            "name": "bcgov_applicationtypeid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_applicationtypeid",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "applicationtypes"
        ],
        "summary": "Update entity in bcgov_applicationtypes",
        "operationId": "Applicationtypes_Update",
        "parameters": [
          {
            "name": "bcgov_applicationtypeid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_applicationtypeid",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_applicationtype"
            },
            "description": "New property values"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/bcgov_businesscontacts": {
      "get": {
        "tags": [
          "businesscontacts"
        ],
        "summary": "Get entities from bcgov_businesscontacts",
        "operationId": "Businesscontacts_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "createdon",
                "createdon desc",
                "statecode",
                "statecode desc",
                "bcgov_contacttype",
                "bcgov_contacttype desc",
                "timezoneruleversionnumber",
                "timezoneruleversionnumber desc",
                "_modifiedby_value",
                "_modifiedby_value desc",
                "_ownerid_value",
                "_ownerid_value desc",
                "bcgov_registeredsellerownermanager",
                "bcgov_registeredsellerownermanager desc",
                "bcgov_businesscontactid",
                "bcgov_businesscontactid desc",
                "_createdonbehalfby_value",
                "_createdonbehalfby_value desc",
                "_owningbusinessunit_value",
                "_owningbusinessunit_value desc",
                "_bcgov_contact_value",
                "_bcgov_contact_value desc",
                "_bcgov_businessprofile_value",
                "_bcgov_businessprofile_value desc",
                "modifiedon",
                "modifiedon desc",
                "_owningteam_value",
                "_owningteam_value desc",
                "utcconversiontimezonecode",
                "utcconversiontimezonecode desc",
                "_modifiedonbehalfby_value",
                "_modifiedonbehalfby_value desc",
                "importsequencenumber",
                "importsequencenumber desc",
                "_createdby_value",
                "_createdby_value desc",
                "bcgov_name",
                "bcgov_name desc",
                "versionnumber",
                "versionnumber desc",
                "_owninguser_value",
                "_owninguser_value desc",
                "statuscode",
                "statuscode desc",
                "bcgov_jobtitle",
                "bcgov_jobtitle desc",
                "overriddencreatedon",
                "overriddencreatedon desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "createdon",
                "statecode",
                "bcgov_contacttype",
                "timezoneruleversionnumber",
                "_modifiedby_value",
                "_ownerid_value",
                "bcgov_registeredsellerownermanager",
                "bcgov_businesscontactid",
                "_createdonbehalfby_value",
                "_owningbusinessunit_value",
                "_bcgov_contact_value",
                "_bcgov_businessprofile_value",
                "modifiedon",
                "_owningteam_value",
                "utcconversiontimezonecode",
                "_modifiedonbehalfby_value",
                "importsequencenumber",
                "_createdby_value",
                "bcgov_name",
                "versionnumber",
                "_owninguser_value",
                "statuscode",
                "bcgov_jobtitle",
                "overriddencreatedon"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdbyname",
                "createdonbehalfbyname",
                "modifiedbyname",
                "modifiedonbehalfbyname",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "bcgov_businesscontact_SyncErrors",
                "bcgov_businesscontact_DuplicateMatchingRecord",
                "bcgov_businesscontact_DuplicateBaseRecord",
                "bcgov_businesscontact_AsyncOperations",
                "bcgov_businesscontact_BulkDeleteFailures",
                "bcgov_BusinessProfile",
                "bcgov_Contact",
                "bcgov_incident_businesscontact"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of bcgov_businesscontacts",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_businesscontact"
                  }
                }
              }
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "businesscontacts"
        ],
        "summary": "Add new entity to bcgov_businesscontacts",
        "operationId": "Businesscontacts_Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_businesscontact"
            },
            "description": "New entity"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Required in order for the service to return a JSON representation of the object.",
            "type": "string",
            "default": "return=representation"
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_businesscontact"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/bcgov_businesscontacts({bcgov_businesscontactid})": {
      "get": {
        "tags": [
          "businesscontacts"
        ],
        "summary": "Get entity from bcgov_businesscontacts by key",
        "operationId": "Businesscontacts_GetByKey",
        "parameters": [
          {
            "name": "bcgov_businesscontactid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_businesscontactid",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "createdon",
                "statecode",
                "bcgov_contacttype",
                "timezoneruleversionnumber",
                "_modifiedby_value",
                "_ownerid_value",
                "bcgov_registeredsellerownermanager",
                "bcgov_businesscontactid",
                "_createdonbehalfby_value",
                "_owningbusinessunit_value",
                "_bcgov_contact_value",
                "_bcgov_businessprofile_value",
                "modifiedon",
                "_owningteam_value",
                "utcconversiontimezonecode",
                "_modifiedonbehalfby_value",
                "importsequencenumber",
                "_createdby_value",
                "bcgov_name",
                "versionnumber",
                "_owninguser_value",
                "statuscode",
                "bcgov_jobtitle",
                "overriddencreatedon"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdbyname",
                "createdonbehalfbyname",
                "modifiedbyname",
                "modifiedonbehalfbyname",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "bcgov_businesscontact_SyncErrors",
                "bcgov_businesscontact_DuplicateMatchingRecord",
                "bcgov_businesscontact_DuplicateBaseRecord",
                "bcgov_businesscontact_AsyncOperations",
                "bcgov_businesscontact_BulkDeleteFailures",
                "bcgov_BusinessProfile",
                "bcgov_Contact",
                "bcgov_incident_businesscontact"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_businesscontact"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "businesscontacts"
        ],
        "summary": "Delete entity from bcgov_businesscontacts",
        "operationId": "Businesscontacts_Delete",
        "parameters": [
          {
            "name": "bcgov_businesscontactid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_businesscontactid",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "businesscontacts"
        ],
        "summary": "Update entity in bcgov_businesscontacts",
        "operationId": "Businesscontacts_Update",
        "parameters": [
          {
            "name": "bcgov_businesscontactid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_businesscontactid",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_businesscontact"
            },
            "description": "New property values"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/bcgov_certificates": {
      "get": {
        "tags": [
          "certificates"
        ],
        "summary": "Get entities from bcgov_certificates",
        "operationId": "Certificates_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "utcconversiontimezonecode",
                "utcconversiontimezonecode desc",
                "bcgov_businessaddressprovince",
                "bcgov_businessaddressprovince desc",
                "_modifiedby_value",
                "_modifiedby_value desc",
                "_bcgov_certificateholderbusiness_value",
                "_bcgov_certificateholderbusiness_value desc",
                "_owningbusinessunit_value",
                "_owningbusinessunit_value desc",
                "_bcgov_equipment_value",
                "_bcgov_equipment_value desc",
                "bcgov_certificateholder",
                "bcgov_certificateholder desc",
                "versionnumber",
                "versionnumber desc",
                "_ownerid_value",
                "_ownerid_value desc",
                "bcgov_businessaddresscountry",
                "bcgov_businessaddresscountry desc",
                "_bcgov_certificatetype_value",
                "_bcgov_certificatetype_value desc",
                "bcgov_approvedintendeduse",
                "bcgov_approvedintendeduse desc",
                "_createdby_value",
                "_createdby_value desc",
                "bcgov_issueddate",
                "bcgov_issueddate desc",
                "statuscode",
                "statuscode desc",
                "_owninguser_value",
                "_owninguser_value desc",
                "importsequencenumber",
                "importsequencenumber desc",
                "bcgov_name",
                "bcgov_name desc",
                "overriddencreatedon",
                "overriddencreatedon desc",
                "createdon",
                "createdon desc",
                "bcgov_expirydatelongdatestring",
                "bcgov_expirydatelongdatestring desc",
                "bcgov_businessaddresscity",
                "bcgov_businessaddresscity desc",
                "bcgov_businessaddresspostalcode",
                "bcgov_businessaddresspostalcode desc",
                "bcgov_certificateid",
                "bcgov_certificateid desc",
                "_bcgov_application_value",
                "_bcgov_application_value desc",
                "modifiedon",
                "modifiedon desc",
                "_modifiedonbehalfby_value",
                "_modifiedonbehalfby_value desc",
                "_createdonbehalfby_value",
                "_createdonbehalfby_value desc",
                "bcgov_issueddatelongdatestring",
                "bcgov_issueddatelongdatestring desc",
                "statecode",
                "statecode desc",
                "timezoneruleversionnumber",
                "timezoneruleversionnumber desc",
                "bcgov_expirydate",
                "bcgov_expirydate desc",
                "_owningteam_value",
                "_owningteam_value desc",
                "bcgov_businessaddressstreet",
                "bcgov_businessaddressstreet desc",
                "bcgov_approvedproductcategory",
                "bcgov_approvedproductcategory desc",
                "bcgov_approvedproductsubcategory",
                "bcgov_approvedproductsubcategory desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "utcconversiontimezonecode",
                "bcgov_businessaddressprovince",
                "_modifiedby_value",
                "_bcgov_certificateholderbusiness_value",
                "_owningbusinessunit_value",
                "_bcgov_equipment_value",
                "bcgov_certificateholder",
                "versionnumber",
                "_ownerid_value",
                "bcgov_businessaddresscountry",
                "_bcgov_certificatetype_value",
                "bcgov_approvedintendeduse",
                "_createdby_value",
                "bcgov_issueddate",
                "statuscode",
                "_owninguser_value",
                "importsequencenumber",
                "bcgov_name",
                "overriddencreatedon",
                "createdon",
                "bcgov_expirydatelongdatestring",
                "bcgov_businessaddresscity",
                "bcgov_businessaddresspostalcode",
                "bcgov_certificateid",
                "_bcgov_application_value",
                "modifiedon",
                "_modifiedonbehalfby_value",
                "_createdonbehalfby_value",
                "bcgov_issueddatelongdatestring",
                "statecode",
                "timezoneruleversionnumber",
                "bcgov_expirydate",
                "_owningteam_value",
                "bcgov_businessaddressstreet",
                "bcgov_approvedproductcategory",
                "bcgov_approvedproductsubcategory"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdbyname",
                "createdonbehalfbyname",
                "modifiedbyname",
                "modifiedonbehalfbyname",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "bcgov_certificate_SyncErrors",
                "bcgov_certificate_DuplicateMatchingRecord",
                "bcgov_certificate_DuplicateBaseRecord",
                "bcgov_certificate_AsyncOperations",
                "bcgov_certificate_BulkDeleteFailures",
                "bcgov_CertificateType",
                "bcgov_Application",
                "bcgov_certificate_bcgov_certificatetermsandconditions_Certificate",
                "bcgov_CertificateHolderBusiness",
                "bcgov_Equipment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of bcgov_certificates",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificate"
                  }
                }
              }
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "certificates"
        ],
        "summary": "Add new entity to bcgov_certificates",
        "operationId": "Certificates_Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificate"
            },
            "description": "New entity"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Required in order for the service to return a JSON representation of the object.",
            "type": "string",
            "default": "return=representation"
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificate"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/bcgov_certificates({bcgov_certificateid})": {
      "get": {
        "tags": [
          "certificates"
        ],
        "summary": "Get entity from bcgov_certificates by key",
        "operationId": "Certificates_GetByKey",
        "parameters": [
          {
            "name": "bcgov_certificateid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_certificateid",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "utcconversiontimezonecode",
                "bcgov_businessaddressprovince",
                "_modifiedby_value",
                "_bcgov_certificateholderbusiness_value",
                "_owningbusinessunit_value",
                "_bcgov_equipment_value",
                "bcgov_certificateholder",
                "versionnumber",
                "_ownerid_value",
                "bcgov_businessaddresscountry",
                "_bcgov_certificatetype_value",
                "bcgov_approvedintendeduse",
                "_createdby_value",
                "bcgov_issueddate",
                "statuscode",
                "_owninguser_value",
                "importsequencenumber",
                "bcgov_name",
                "overriddencreatedon",
                "createdon",
                "bcgov_expirydatelongdatestring",
                "bcgov_businessaddresscity",
                "bcgov_businessaddresspostalcode",
                "bcgov_certificateid",
                "_bcgov_application_value",
                "modifiedon",
                "_modifiedonbehalfby_value",
                "_createdonbehalfby_value",
                "bcgov_issueddatelongdatestring",
                "statecode",
                "timezoneruleversionnumber",
                "bcgov_expirydate",
                "_owningteam_value",
                "bcgov_businessaddressstreet",
                "bcgov_approvedproductcategory",
                "bcgov_approvedproductsubcategory"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdbyname",
                "createdonbehalfbyname",
                "modifiedbyname",
                "modifiedonbehalfbyname",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "bcgov_certificate_SyncErrors",
                "bcgov_certificate_DuplicateMatchingRecord",
                "bcgov_certificate_DuplicateBaseRecord",
                "bcgov_certificate_AsyncOperations",
                "bcgov_certificate_BulkDeleteFailures",
                "bcgov_CertificateType",
                "bcgov_Application",
                "bcgov_certificate_bcgov_certificatetermsandconditions_Certificate",
                "bcgov_CertificateHolderBusiness",
                "bcgov_Equipment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificate"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "certificates"
        ],
        "summary": "Delete entity from bcgov_certificates",
        "operationId": "Certificates_Delete",
        "parameters": [
          {
            "name": "bcgov_certificateid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_certificateid",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "certificates"
        ],
        "summary": "Update entity in bcgov_certificates",
        "operationId": "Certificates_Update",
        "parameters": [
          {
            "name": "bcgov_certificateid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_certificateid",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificate"
            },
            "description": "New property values"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/bcgov_certificatetermsandconditionses": {
      "get": {
        "tags": [
          "certificatetermsandconditionses"
        ],
        "summary": "Get entities from bcgov_certificatetermsandconditionses",
        "operationId": "Certificatetermsandconditionses_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "createdon",
                "createdon desc",
                "bcgov_name",
                "bcgov_name desc",
                "_modifiedby_value",
                "_modifiedby_value desc",
                "_createdby_value",
                "_createdby_value desc",
                "statuscode",
                "statuscode desc",
                "_bcgov_certificate_value",
                "_bcgov_certificate_value desc",
                "_owninguser_value",
                "_owninguser_value desc",
                "bcgov_termsandconditions",
                "bcgov_termsandconditions desc",
                "overriddencreatedon",
                "overriddencreatedon desc",
                "_bcgov_certificatetype_value",
                "_bcgov_certificatetype_value desc",
                "_createdonbehalfby_value",
                "_createdonbehalfby_value desc",
                "_ownerid_value",
                "_ownerid_value desc",
                "importsequencenumber",
                "importsequencenumber desc",
                "_bcgov_presetterms_value",
                "_bcgov_presetterms_value desc",
                "versionnumber",
                "versionnumber desc",
                "_owningteam_value",
                "_owningteam_value desc",
                "bcgov_certificatetermsandconditionsid",
                "bcgov_certificatetermsandconditionsid desc",
                "utcconversiontimezonecode",
                "utcconversiontimezonecode desc",
                "timezoneruleversionnumber",
                "timezoneruleversionnumber desc",
                "modifiedon",
                "modifiedon desc",
                "_owningbusinessunit_value",
                "_owningbusinessunit_value desc",
                "_modifiedonbehalfby_value",
                "_modifiedonbehalfby_value desc",
                "statecode",
                "statecode desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "createdon",
                "bcgov_name",
                "_modifiedby_value",
                "_createdby_value",
                "statuscode",
                "_bcgov_certificate_value",
                "_owninguser_value",
                "bcgov_termsandconditions",
                "overriddencreatedon",
                "_bcgov_certificatetype_value",
                "_createdonbehalfby_value",
                "_ownerid_value",
                "importsequencenumber",
                "_bcgov_presetterms_value",
                "versionnumber",
                "_owningteam_value",
                "bcgov_certificatetermsandconditionsid",
                "utcconversiontimezonecode",
                "timezoneruleversionnumber",
                "modifiedon",
                "_owningbusinessunit_value",
                "_modifiedonbehalfby_value",
                "statecode"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdbyname",
                "createdonbehalfbyname",
                "modifiedbyname",
                "modifiedonbehalfbyname",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "bcgov_certificatetermsandconditions_SyncErrors",
                "bcgov_certificatetermsandconditions_DuplicateMatchingRecord",
                "bcgov_certificatetermsandconditions_DuplicateBaseRecord",
                "bcgov_certificatetermsandconditions_AsyncOperations",
                "bcgov_certificatetermsandconditions_BulkDeleteFailures",
                "bcgov_Certificate",
                "bcgov_CertificateType",
                "bcgov_PresetTerms"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of bcgov_certificatetermsandconditionses",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificatetermsandconditions"
                  }
                }
              }
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "certificatetermsandconditionses"
        ],
        "summary": "Add new entity to bcgov_certificatetermsandconditionses",
        "operationId": "Certificatetermsandconditionses_Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificatetermsandconditions"
            },
            "description": "New entity"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Required in order for the service to return a JSON representation of the object.",
            "type": "string",
            "default": "return=representation"
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificatetermsandconditions"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/bcgov_certificatetermsandconditionses({bcgov_certificatetermsandconditionsid})": {
      "get": {
        "tags": [
          "certificatetermsandconditionses"
        ],
        "summary": "Get entity from bcgov_certificatetermsandconditionses by key",
        "operationId": "Certificatetermsandconditionses_GetByKey",
        "parameters": [
          {
            "name": "bcgov_certificatetermsandconditionsid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_certificatetermsandconditionsid",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "createdon",
                "bcgov_name",
                "_modifiedby_value",
                "_createdby_value",
                "statuscode",
                "_bcgov_certificate_value",
                "_owninguser_value",
                "bcgov_termsandconditions",
                "overriddencreatedon",
                "_bcgov_certificatetype_value",
                "_createdonbehalfby_value",
                "_ownerid_value",
                "importsequencenumber",
                "_bcgov_presetterms_value",
                "versionnumber",
                "_owningteam_value",
                "bcgov_certificatetermsandconditionsid",
                "utcconversiontimezonecode",
                "timezoneruleversionnumber",
                "modifiedon",
                "_owningbusinessunit_value",
                "_modifiedonbehalfby_value",
                "statecode"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdbyname",
                "createdonbehalfbyname",
                "modifiedbyname",
                "modifiedonbehalfbyname",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "bcgov_certificatetermsandconditions_SyncErrors",
                "bcgov_certificatetermsandconditions_DuplicateMatchingRecord",
                "bcgov_certificatetermsandconditions_DuplicateBaseRecord",
                "bcgov_certificatetermsandconditions_AsyncOperations",
                "bcgov_certificatetermsandconditions_BulkDeleteFailures",
                "bcgov_Certificate",
                "bcgov_CertificateType",
                "bcgov_PresetTerms"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificatetermsandconditions"
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "certificatetermsandconditionses"
        ],
        "summary": "Delete entity from bcgov_certificatetermsandconditionses",
        "operationId": "Certificatetermsandconditionses_Delete",
        "parameters": [
          {
            "name": "bcgov_certificatetermsandconditionsid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_certificatetermsandconditionsid",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "certificatetermsandconditionses"
        ],
        "summary": "Update entity in bcgov_certificatetermsandconditionses",
        "operationId": "Certificatetermsandconditionses_Update",
        "parameters": [
          {
            "name": "bcgov_certificatetermsandconditionsid",
            "in": "path",
            "required": true,
            "description": "key: bcgov_certificatetermsandconditionsid",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_certificatetermsandconditions"
            },
            "description": "New property values"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      }
    },
    "/bcgov_customaddresses": {
      "get": {
        "tags": [
          "customaddresses"
        ],
        "summary": "Get entities from bcgov_customaddresses",
        "operationId": "Customaddresses_Get",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$skip",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "bcgov_streetline3",
                "bcgov_streetline3 desc",
                "_modifiedonbehalfby_value",
                "_modifiedonbehalfby_value desc",
                "processid",
                "processid desc",
                "_bcgov_addressesid_value",
                "_bcgov_addressesid_value desc",
                "bcgov_province",
                "bcgov_province desc",
                "_ownerid_value",
                "_ownerid_value desc",
                "overriddencreatedon",
                "overriddencreatedon desc",
                "_createdonbehalfby_value",
                "_createdonbehalfby_value desc",
                "bcgov_postalcode",
                "bcgov_postalcode desc",
                "_slaid_value",
                "_slaid_value desc",
                "utcconversiontimezonecode",
                "utcconversiontimezonecode desc",
                "emailaddress",
                "emailaddress desc",
                "timezoneruleversionnumber",
                "timezoneruleversionnumber desc",
                "lastonholdtime",
                "lastonholdtime desc",
                "versionnumber",
                "versionnumber desc",
                "_bcgov_businessprofile_value",
                "_bcgov_businessprofile_value desc",
                "statecode",
                "statecode desc",
                "modifiedon",
                "modifiedon desc",
                "bcgov_customaddressid",
                "bcgov_customaddressid desc",
                "importsequencenumber",
                "importsequencenumber desc",
                "onholdtime",
                "onholdtime desc",
                "_modifiedby_value",
                "_modifiedby_value desc",
                "_owningteam_value",
                "_owningteam_value desc",
                "_owninguser_value",
                "_owninguser_value desc",
                "bcgov_addresstype",
                "bcgov_addresstype desc",
                "statuscode",
                "statuscode desc",
                "bcgov_countrytxt",
                "bcgov_countrytxt desc",
                "_stageid_value",
                "_stageid_value desc",
                "_slainvokedid_value",
                "_slainvokedid_value desc",
                "traversedpath",
                "traversedpath desc",
                "bcgov_name",
                "bcgov_name desc",
                "bcgov_streetline2",
                "bcgov_streetline2 desc",
                "_owningbusinessunit_value",
                "_owningbusinessunit_value desc",
                "_createdby_value",
                "_createdby_value desc",
                "createdon",
                "createdon desc",
                "bcgov_city",
                "bcgov_city desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "bcgov_streetline3",
                "_modifiedonbehalfby_value",
                "processid",
                "_bcgov_addressesid_value",
                "bcgov_province",
                "_ownerid_value",
                "overriddencreatedon",
                "_createdonbehalfby_value",
                "bcgov_postalcode",
                "_slaid_value",
                "utcconversiontimezonecode",
                "emailaddress",
                "timezoneruleversionnumber",
                "lastonholdtime",
                "versionnumber",
                "_bcgov_businessprofile_value",
                "statecode",
                "modifiedon",
                "bcgov_customaddressid",
                "importsequencenumber",
                "onholdtime",
                "_modifiedby_value",
                "_owningteam_value",
                "_owninguser_value",
                "bcgov_addresstype",
                "statuscode",
                "bcgov_countrytxt",
                "_stageid_value",
                "_slainvokedid_value",
                "traversedpath",
                "bcgov_name",
                "bcgov_streetline2",
                "_owningbusinessunit_value",
                "_createdby_value",
                "createdon",
                "bcgov_city"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "createdbyname",
                "createdonbehalfbyname",
                "modifiedbyname",
                "modifiedonbehalfbyname",
                "owninguser",
                "owningteam",
                "ownerid",
                "owningbusinessunit",
                "bcgov_customaddress_ActivityPointers",
                "bcgov_customaddress_Appointments",
                "bcgov_customaddress_Emails",
                "bcgov_customaddress_Faxes",
                "bcgov_customaddress_Letters",
                "bcgov_customaddress_PhoneCalls",
                "bcgov_customaddress_ServiceAppointments",
                "bcgov_customaddress_Tasks",
                "bcgov_customaddress_RecurringAppointmentMasters",
                "bcgov_customaddress_SocialActivities",
                "bcgov_customaddress_SyncErrors",
                "bcgov_customaddress_ActivityParties",
                "bcgov_customaddress_connections1",
                "bcgov_customaddress_connections2",
                "bcgov_customaddress_DuplicateMatchingRecord",
                "bcgov_customaddress_DuplicateBaseRecord",
                "bcgov_customaddress_SharePointDocumentLocations",
                "bcgov_customaddress_QueueItems",
                "bcgov_customaddress_Annotations",
                "bcgov_customaddress_Feedback",
                "bcgov_customaddress_Teams",
                "bcgov_customaddress_AsyncOperations",
                "bcgov_customaddress_BulkDeleteFailures",
                "stageid",
                "bcgov_customaddress_knowledgebaserecord",
                "msdyn_bcgov_customaddress_knowledgearticle",
                "slaid",
                "slainvokedid",
                "bcgov_customaddress_SLAKPIInstances",
                "bcgov_AddressesId",
                "bcgov_customaddress_incident_AddressofPersonBusiness",
                "bcgov_customaddress_incident_BCSellersAddress",
                "bcgov_customaddress_incident_OutsideBCSellersAddress",
                "bcgov_customaddress_incident_ImportersAddress",
                "bcgov_customaddress_incident_OriginatingSellersAddress",
                "bcgov_customaddress_incident_AddressofBusinessthathasGivenorLoaned",
                "bcgov_bcgov_customaddress_incident_AddressofBusinessthathasRentedorLeased",
                "bcgov_customaddress_location_LocationAddress",
                "bcgov_bcgov_customaddress_account_CurrentBusinessPhysicalAddress",
                "bcgov_bcgov_customaddress_account_CurrentBusinessMailingAddress",
                "bcgov_BusinessProfile"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "title": "Collection of bcgov_customaddresses",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Microsoft.Dynamics.CRM.bcgov_customaddress"
                  }
                }
              }
            }
          },
          "default": {
            "schema": { "$ref": "#/definitions/odata.error" },
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "customaddresses"
        ],
        "summary": "Add new entity to bcgov_customaddresses",
        "operationId": "Customaddresses_Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
[...]
