<div class="form-wrapper" style="position: relative;">
  <div class="row">

    <div class="col-lg-8 col-sm-12">
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="tab !== 'thank-you'"  class="col-lg-4 col-sm-12">
      <section class="step" style="display: block; background-color: #F1F4FA">
        <h3 class="blue-header">REPORT OF EQUIPMENT CHANGE</h3>
        <section style="padding-top: 15px; padding-bottom: 20px;">
          <mat-vertical-stepper [linear]="true" (selectionChange)="selectionChange($event)" #stepper>
            <ng-template matStepperIcon="edit">
              <fa-icon [icon]="faCheck"></fa-icon>
            </ng-template>
            <ng-template matStepperIcon="number">
            </ng-template>

            <mat-step label="STEP 1: Report Details">
            </mat-step>
            <mat-step label="STEP 2: Review, Declaration & Consent">
            </mat-step>
          </mat-vertical-stepper>
        </section>
      </section>

      <p></p>
      <section *ngIf="tab !== 'thank-you'" class="submit-container">
        <table>
          <tr>
            <td>
              <h2 class="round-icon-wrapper">
                <fa-icon [icon]="faAddressCard"></fa-icon>
              </h2>
            </td>
            <td style="padding-left: 10px">
              <h2>Useful Links & Information</h2>
            </td>
          </tr>
        </table>
        <div class="submit-content">
          <p>What you need to know about:</p>
          <ul class="arrow">
            <li><a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-online-registry#enp"
                target="blank" style="color: #fff;">The equipment notification process</a></li>
            <li><a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-controlled-equipment#ccee"
                target="blank" style="color: #fff;">Changes to Controlled Equipment</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
