<div class="dashboard-spacing">
  <div [ngBusy]="busy"></div>
  <h1>Client Profile Dashboard</h1>
  <div class="row">
    <div class="col-lg-7 col-sm-12">
      <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus metus sit amet vulputate porta. Morbi nulla massa, interdum a tempor eget, venenatis et est.
      </p>
      <br />
    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <div [ngBusy]="busy"></div>

      <section>
        <div class="submitted-header">
          <h2>BUSINESS PROFILE</h2>
        </div>
        <div class="submitted-content">
          <p><a href="#">Edit Business Profile</a></p>
        </div>
      </section>
      <p></p>
      <section class="submit-container">
        <div>
          <h2>Useful Links &amp; Information</h2>
        </div>
        <div class="submit-content">
          <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          
        </div>
      </section>
    </div>
  </div>
  
</div>
