<div class="dashboard-spacing">
  <div [ngBusy]="busy"></div>
  <h1>Client Profile Dashboard</h1>
  <div class="row">
    <div class="col-lg-7 col-sm-12">
      <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus metus sit amet vulputate porta. Morbi
        nulla massa, interdum a tempor eget, venenatis et est.
      </p>
      <br />
      <div style="display: flex; justify-content: space-between">
        <section class="waiver">
          <div class="icon-wrapper">
            <i class="fas fa-user fa-2x" style="color: #38598A; margin-left: 5px;"></i>
          </div>
          <h3 style="text-align: center">Waiver Holder</h3>
          <p style="text-align: center">
            Short definition of what qualifies as a waiver holder. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <button class="btn btn-primary" (click)="startNewLicenceApplication()">APPLY TO BE A WAIVER HOLDER</button>
        </section>
        <section class="waiver">
          <div class="icon-wrapper">
            <i class="fas fa-user fa-2x" style="color: #38598A; margin-left: 5px;"></i>
          </div>
          <h3 style="text-align: center">Authorized Owner</h3>
          <p style="text-align: center">
            Short definition of what qualifies as a waiver holder. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <button class="btn btn-primary" disabled>REGISTER AS AN <br> AUTHORIZED OWNER</button>
        </section>
        <section class="waiver">
          <div class="icon-wrapper">
            <i class="fas fa-user fa-2x" style="color: #38598A; margin-left: 5px;"></i>
          </div>
          <h3 style="text-align: center">Seller</h3>
          <p style="text-align: center">
            Short definition of what qualifies as a waiver holder. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <button class="btn btn-primary" disabled>REGISTER AS SELLER</button>
        </section>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <div [ngBusy]="busy"></div>

      <section>
        <div class="submitted-header">
          <h2>BUSINESS PROFILE</h2>
        </div>
        <div class="submitted-content">
          <p><a routerLink="/business-profile">Edit Business Profile</a></p>
        </div>
      </section>
      <p></p>
      <section class="submit-container">
        <div>
          <h2>Useful Links &amp; Information</h2>
        </div>
        <div class="submit-content">
          <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>

        </div>
      </section>
    </div>
  </div>

</div>