<div style="position: relative;">
  <div [ngBusy]="[busy, busyPromise]"></div>
  <div [formGroup]="form">
    <h2 class="step">STEP 1</h2>
    <h1 style="margin-top: 0;">Report of Equipment Change</h1>

    <h3 class="blue-header">EQUIPMENT IDENTIFICATION</h3>
    <section formGroupName="equipmentRecord" class="padded-section">

      <app-field label="Equipment Type" [valid]="true" errorMessage="Please specify the make" [required]="true">
        <input type="text" class="form-control" readonly formControlName="equipmentType" style="width: 680px" maxlength="100">
      </app-field>


      <section *ngIf="form.get('equipmentRecord.howWasEquipmentBuilt').value === 'Commercially Manufactured'">
        <app-field label="Make"
                   [valid]="form.get('equipmentRecord.equipmentMake').valid || !form.get('equipmentRecord.equipmentMake').touched"
                   errorMessage="Please specify the make" [required]="true">
          <input type="text" class="form-control" readonly formControlName="equipmentMake" style="width: 680px"
                 maxlength="100">
        </app-field>

        <app-field label="Model"
                   [valid]="form.get('equipmentRecord.equipmentModel').valid || !form.get('equipmentRecord.equipmentModel').touched"
                   errorMessage="Please specify the model" [required]="true">
          <input type="text" class="form-control" readonly formControlName="equipmentModel" style="width: 680px"
                 maxlength="100">
        </app-field>

        <app-field label="Serial Number"
                   [valid]="form.get('equipmentRecord.serialNumber').valid || !form.get('equipmentRecord.serialNumber').touched"
                   errorMessage="Please provide the serial number" [required]="true">
          <input type="text" class="form-control" readonly formControlName="serialNumber" style="width: 680px"
                 maxlength="100">
        </app-field>
      </section>

      <section *ngIf="form.get('equipmentRecord.customBuiltSerialNumber').value">
        <app-field label="Key Part Serial Number" errorMessage="Please provide an answer to the question above"
                   [valid]="form.get('equipmentRecord.customBuiltSerialNumber').valid || !form.get('customBuiltSerialNumber').touched"
                   [required]="true">
          <input type="text" readonly formControlName="customBuiltSerialNumber" class="form-control"
                 style="width: 680px">
        </app-field>
      </section>

      <app-field [valid]="true" [required]="true" errorMessage="Please specify the Equipment Registry Number">
        <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/definition#ern" target="_blank"><strong>Equipment Registry Number</strong></a>
        <span class="error-states"> *</span><br />
        <input type="text" class="form-control" readonly formControlName="name" style="width: 680px" maxlength="100">
      </app-field>


    </section>

    <h3 class="blue-header">DETAILS OF EQUIPMENT CHANGE</h3>
    <section class="padded-section">
      <app-field label="Please indicate the type of change to this piece of Controlled Equipment" [valid]="true"
        errorMessage="Please provide an answer to the question above" [required]="true">
        <input type="radio" name="typeOfChange" formControlName="typeOfChange" value="Lost"> Lost &nbsp;
        <input type="radio" name="typeOfChange" formControlName="typeOfChange" value="Stolen"> Stolen &nbsp;
        <input type="radio" name="typeOfChange" formControlName="typeOfChange" value="Destroyed"> Destroyed
      </app-field>

      <!-- Lost -->
      <section *ngIf="form.get('typeOfChange').value === 'Lost'">
        <app-field label="What was the date on which this piece of equipment was lost?" [valid]="form.get('dateOfEquipmentChange').valid || !form.get('dateOfEquipmentChange').touched"
          errorMessage="Please specify a date" [required]="true">
          <input type="text" class="form-control" formControlName="dateOfEquipmentChange" placeholder="yyyy-mm-dd" [matDatepicker]="picker1"
            (focus)="picker1.open()" (click)="picker1.open()" readonly style="width: 170px; background-color: #fff;">
          <mat-datepicker #picker1></mat-datepicker>
        </app-field>

        <app-field label="Describe the circumstances under which this piece of equipment was lost?" [valid]="form.get('circumstancesOfLoss').valid || !form.get('circumstancesOfLoss').touched"
          errorMessage="Please specify a date" [required]="true">
          <textarea rows="5" class="form-control" formControlName="circumstancesOfLoss"></textarea>
        </app-field>

        <app-field label="Did you notify the police that this piece of equipment was lost?" [valid]="form.get('policeNotified').valid || !form.get('policeNotified').touched"
          errorMessage="Please specify a date" [required]="true">
          <input type="radio" name="policeNotified" formControlName="policeNotified" [value]="true"> Yes &nbsp;
          <input type="radio" name="policeNotified" formControlName="policeNotified" [value]="false"> No
        </app-field>

        <app-field label="On what date did you report the loss to police?" [valid]="form.get('policeReportDate').valid || !form.get('policeReportDate').touched"
         *ngIf="form.get('policeNotified').value" errorMessage="Please specify a date" [required]="true">
          <input type="text" class="form-control" formControlName="policeReportDate" placeholder="yyyy-mm-dd" [matDatepicker]="picker2"
            (focus)="picker2.open()" (click)="picker2.open()" readonly style="width: 170px; background-color: #fff;">
          <mat-datepicker #picker2></mat-datepicker>
        </app-field>


        <app-field label="What is the police file number?" [valid]="form.get('policeFileNumber').valid || !form.get('policeFileNumber').touched"
        *ngIf="form.get('policeNotified').value" errorMessage="Please specify a date" [required]="true">
          <input type="text" class="form-control" formControlName="policeFileNumber" style="width: 260px;">
        </app-field>
      </section>

      <!-- Stolen -->
      <section  *ngIf="form.get('typeOfChange').value === 'Stolen'">
        <app-field label="What was the date on which this piece of equipment was stolen?" [valid]="form.get('dateOfEquipmentChange').valid || !form.get('dateOfEquipmentChange').touched"
          errorMessage="Please specify a date" [required]="true">
          <input type="text" class="form-control" formControlName="dateOfEquipmentChange" placeholder="yyyy-mm-dd" [matDatepicker]="picker3"
            (focus)="picker3.open()" (click)="picker3.open()" readonly style="width: 170px; background-color: #fff;">
          <mat-datepicker #picker3></mat-datepicker>
        </app-field>

        <app-field label="Describe the circumstances under which this piece of equipment was stolen?" [valid]="form.get('circumstancesOfStolenEquipment').valid || !form.get('circumstancesOfStolenEquipment').touched"
          errorMessage="Please specify a date" [required]="true">
          <textarea rows="5" class="form-control" formControlName="circumstancesOfStolenEquipment"></textarea>
        </app-field>

        <app-field label="Did you notify the police that this piece of equipment was stolen?" [valid]="form.get('policeNotified').valid || !form.get('policeNotified').touched"
          errorMessage="Please specify a date" [required]="true">
          <input type="radio" name="policeNotified" formControlName="policeNotified" [value]="true"> Yes &nbsp;
          <input type="radio" name="policeNotified" formControlName="policeNotified" [value]="false"> No
        </app-field>

        <app-field label="On what date did you report the theft to police?" [valid]="form.get('policeReportDate').valid || !form.get('policeReportDate').touched"
        *ngIf="form.get('policeNotified').value" errorMessage="Please specify a date" [required]="true">
          <input type="text" class="form-control" formControlName="policeReportDate" placeholder="yyyy-mm-dd" [matDatepicker]="picker4"
            (focus)="picker4.open()" (click)="picker4.open()" readonly style="width: 170px; background-color: #fff;">
          <mat-datepicker #picker4></mat-datepicker>
        </app-field>

        <app-field label="What is the police file number?" [valid]="form.get('policeFileNumber').valid || !form.get('policeFileNumber').touched"
        *ngIf="form.get('policeNotified').value" errorMessage="Please specify a date" [required]="true">
          <input type="text" class="form-control" formControlName="policeFileNumber" style="width: 260px;">
        </app-field>
      </section>

      <!-- Destroyed -->
      <section  *ngIf="form.get('typeOfChange').value === 'Destroyed'">
        <app-field label="What was the date on which this piece of equipment was destroyed?" [valid]="form.get('dateOfEquipmentChange').valid || !form.get('dateOfEquipmentChange').touched"
          errorMessage="Please specify a date" [required]="true">
          <input type="text" class="form-control" formControlName="dateOfEquipmentChange" placeholder="yyyy-mm-dd" [matDatepicker]="picker5"
            (focus)="picker5.open()" (click)="picker5.open()" readonly style="width: 170px; background-color: #fff;">
          <mat-datepicker #picker5></mat-datepicker>
        </app-field>

        <app-field label="Describe the circumstances under which this piece of equipment was destroyed?" [valid]="form.get('circumstancesOfDestroyedEquipment').valid || !form.get('circumstancesOfDestroyedEquipment').touched"
          errorMessage="Please specify a date" [required]="true">
          <textarea rows="5" class="form-control" formControlName="circumstancesOfDestroyedEquipment"></textarea>
        </app-field>

        <app-field label="Who destroyed this piece of equipment?" [valid]="form.get('policeNotified').valid || !form.get('policeNotified').touched"
          errorMessage="Please specify a date" [required]="true">
          <input type="text" formControlName="whoDestroyedEquipment" class="form-control">
        </app-field>

        <div>
            <app-field *ngIf="!(locations?.length > 0)" formGroupName="addressWhereEquipmentWasDestroyed" label="What is the address where this piece of equipment was destroyed?"
              [required]="true">
              <p></p>
              <div class="row">
                <section class="col-md-6 col-xs-12">
                  <app-field label="Street Address 1" [valid]="isValidOrNotTouched('addressWhereEquipmentWasDestroyed.streetLine1')"
                    errorMessage="Please enter your street address" [required]="true">
                    <input type="text" formControlName="streetLine1" class="form-control">
                  </app-field>
                  <app-field label="City" [valid]="isValidOrNotTouched('addressWhereEquipmentWasDestroyed.city')" errorMessage="Please enter your city or town"
                    [required]="true">
                    <input type="text" formControlName="city" class="form-control">
                  </app-field>
                </section>
                <section class="col-md-6 col-xs-12">
                  <app-field label="Street Address 2">
                    <input type="text" formControlName="streetLine2" class="form-control">
                  </app-field>
                  <div class="row">
                    <section class="col-md-6 col-xs-12">
                      <app-field label="Province/State" [valid]="isValidOrNotTouched('addressWhereEquipmentWasDestroyed.province')"
                        errorMessage=" Please enter a province/state" [required]="true">
                        <input type="text" readonly formControlName="province" class="form-control">
                      </app-field>
                    </section>
                    <section class="col-md-6 col-xs-12">
                      <app-field label="Postal/Zip Code" [valid]="isValidOrNotTouched('addressWhereEquipmentWasDestroyed.postalCode')"
                        errorMessage="Please enter a postal/zip code" [required]="true">
                        <input type="text" formControlName="postalCode" class="form-control">
                      </app-field>
                    </section>
                  </div>
                </section>
              </div>
            </app-field>
          </div>
      </section>

      <label>If you have any supporting documents, please upload them below.</label>
        <br>
        <app-file-uploader documentType="Equipment Change Documents" entityName="incident" [entityId]="equipmentId" fileTypes="FILE MUST BE IN DOC, DOCX, XLS, PDF, JPG OR PNG"
          [extensions]="['pdf', 'jpg', 'jpeg', 'png', 'xls', 'doc', 'docx']"></app-file-uploader>

    </section>
    <div style="margin-top: 30px; display: flex; justify-content: space-between">
      <section>
        <!-- <strong class="error-states">*</strong> <i>Required field</i> -->
        <a href="javascript: void(0);" (click)="save(false)">
          <fa-icon [icon]="faSave" style="margin-right: 5px"></fa-icon>
          Save & Close</a>
      </section>
      <section>
        <button class="btn btn-primary" (click)="markAsTouched(); save(true)">SAVE & CONTINUE</button>
      </section>
    </div>
  </div>
</div>
