<div>
  <div class="" style="position: relative;">
    <h1>Thank You</h1>
    <p>Thank you for reporting the sale of your equipment.</p>
    <p>This piece of equipment will be frozen on the Dashboard while we are processing your sale report. Once completed,
      the piece of equipment will be removed from your Dashboard. We will contact you if we require any further
      information.
    </p>
    <div>
      <button style="float: right;" class="btn btn-primary" routerLink="/dashboard">RETURN TO DASHBOARD</button>
    </div>
  </div>
</div>