<div style="position: relative;">
  <div [ngBusy]="[busy]"></div>
  <div [formGroup]="form">
    <h2 class="step">STEP 2</h2>
    <h1 style="margin-top: 0;">Equipment Type and Use</h1>

    <p>Please fill out the following information for one piece of <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-controlled-equipment"
        target="blank">Controlled Equipment</a> at a time until your entire
      inventory is listed.</p>

    <h3 class="blue-header">EQUIPMENT TYPE AND USE</h3>
    <section class="padded-section">
      <app-field label="Select the type of Controlled Equipment you are registering." [valid]="form.get('equipmentType').valid || !form.get('equipmentType').touched "
        errorMessage="Please indicate what type of controlled equipment you intend to register" [required]="true">
        <select class="form-control" formControlName="equipmentType" style="width: 300px;">
          <option value="">Please select an option</option>
          <option value="Pill Press">Pill Press</option>
          <option value="Encapsulator">Encapsulator</option>
          <option value="Die, Mould or Punch">Die, Mould or Punch</option>
          <option value="Pharmaceutical Mixer or Blender">Pharmaceutical Mixer or Blender</option>
          <option value="Other">Other</option>
        </select>
      </app-field>

      <section *ngIf="form.get('equipmentType').value === 'Pill Press'">
        <app-field label="Select the level of automation for this piece of Controlled Equipment." [valid]="form.get('levelOfEquipmentAutomation').valid || !form.get('levelOfEquipmentAutomation').touched "
          errorMessage="Please specify the level of automation for this equipment" [required]="true">
          <select class="form-control" formControlName="levelOfEquipmentAutomation" style="width: 300px;">
            <option value="">Please select an option</option>
            <option value="Semi-Automatic">Semi-Automatic</option>
            <option value="Automated">Automated</option>
            <option value="Capable of Being Automated">Capable of Being Automated</option>
            <option value="Manual">Manual</option>
          </select>
        </app-field>

        <app-field label="Please select from the following list to describe the size of this Pill Press." [valid]="form.get('pillpressEncapsulatorsize').valid || !form.get('pillpressEncapsulatorsize').touched "
          errorMessage="Please describe the size of this Pill Press" [required]="true">
          <select class="form-control" formControlName="pillpressEncapsulatorsize" style="width: 300px;">
            <option value="">Please select an option</option>
            <option value="Table Top Model">Table Top Model</option>
            <option value="Free Standing Model">Free Standing Model</option>
            <option value="Industrial Model">Industrial Model</option>
            <option value="Other">Other</option>
          </select>
        </app-field>

        <app-field label="Please indicate your Pill Press maximum capacity in number of pills/tablets per hour."
          [valid]="form.get('pillpressmaxcapacity').valid || !form.get('pillpressmaxcapacity').touched " errorMessage="Please indicate the maximum capacity of this Pill Press"
          [required]="true">
          <input type="number" class="form-control" formControlName="pillpressmaxcapacity" style="width: 150px">
        </app-field>
      </section>

      <section *ngIf="form.get('equipmentType').value === 'Encapsulator'">
        <app-field label="Select the level of automation for this piece of Controlled Equipment." [valid]="form.get('levelOfEquipmentAutomation').valid || !form.get('levelOfEquipmentAutomation').touched "
          errorMessage="Please specify the level of automation for this equipment" [required]="true">
          <select class="form-control" formControlName="levelOfEquipmentAutomation" style="width: 300px;">
            <option value="">Please select an option</option>
            <option value="Semi-Automatic">Semi-Automatic</option>
            <option value="Automated">Automated</option>
            <option value="Capable of Being Automated">Capable of Being Automated</option>
            <option value="Manual">Manual</option>
          </select>
        </app-field>

        <app-field label="Please select from the following list to describe the size of this Encapsulator." [valid]="form.get('pillpressEncapsulatorsize').valid || !form.get('pillpressEncapsulatorsize').touched "
          errorMessage="Please describe the size of this Encapsulator" [required]="true">
          <select class="form-control" formControlName="pillpressEncapsulatorsize" style="width: 300px;">
            <option value="">Please select an option</option>
            <option value="Table Top Model">Table Top Model</option>
            <option value="Free Standing Model">Free Standing Model</option>
            <option value="Industrial Model">Industrial Model</option>
            <option value="Other">Other</option>
          </select>
        </app-field>

        <app-field label="Please indicate your Encapsulator maximum capacity in number of capsules per hour." [valid]="form.get('encapsulatorMaxCapacity').valid || !form.get('encapsulatorMaxCapacity').touched "
          errorMessage="Please describe the size of this Encapsulator" [required]="true">
          <input type="text" formControlName="encapsulatorMaxCapacity" style="width: 150px">
        </app-field>
      </section>

      <div class="notes" style="display: flex;" *ngIf="form.get('equipmentType').value === 'Die, Mould or Punch'">
        <fa-icon [icon]="faExclamationCircle" style="color: #003366; margin-right: 10px;"></fa-icon>
        <span>
          Although dies, moulds, and punches are considered Controlled Equipment, the notification requirements in
          the legislation do not apply to these pieces of equipment. Therefore, you do not need to provide
          notification of any die, mould, or punch in your possession at this time.
        </span>
      </div>

      <section *ngIf="form.get('equipmentType').value === 'Pharmaceutical Mixer or Blender'">
        <app-field label="Select the level of automation for this piece of Controlled Equipment." [valid]="form.get('levelOfEquipmentAutomation').valid || !form.get('levelOfEquipmentAutomation').touched "
          errorMessage="Please specify the level of automation for this equipment" [required]="true">
          <select class="form-control" formControlName="levelOfEquipmentAutomation" style="width: 300px;">
            <option value="">Please select an option</option>
            <option value="Semi-Automatic">Semi-Automatic</option>
            <option value="Automated">Automated</option>
            <option value="Capable of Being Automated">Capable of Being Automated</option>
            <option value="Manual">Manual</option>
          </select>
        </app-field>
      </section>

      <section *ngIf="form.get('equipmentType').value === 'Other'">
        <i>If Other, please specify</i> <br>
        <app-field [valid]="form.get('equipmentTypeOther').valid || !form.get('equipmentTypeOther').touched "
          errorMessage="Please specify what 'other' type of equipment you are registering">
          <input type="text" formControlName="equipmentTypeOther" class="form-control" style="width: 350px">
        </app-field>

        <app-field label="Select the level of automation for this piece of Controlled Equipment." [valid]="form.get('levelOfEquipmentAutomation').valid || !form.get('levelOfEquipmentAutomation').touched "
          errorMessage="Please specify the level of automation for this equipment" [required]="true">
          <select class="form-control" formControlName="levelOfEquipmentAutomation" style="width: 300px;">
            <option value="">Please select an option</option>
            <option value="Semi-Automatic">Semi-Automatic</option>
            <option value="Automated">Automated</option>
            <option value="Capable of Being Automated">Capable of Being Automated</option>
            <option value="Manual">Manual</option>
          </select>
        </app-field>
      </section>

      <app-field label="Please explain how you use this piece of Controlled Equipment in your manufacturing process."
        [valid]="form.get('explanationOfEquipmentuse').valid || !form.get('explanationOfEquipmentuse').touched "
        errorMessage="Please provide an answer to the question above" [required]="true" [showChevrons]="false">
        <textarea class="form-control" formControlName="explanationOfEquipmentuse" rows="5" maxlength="500"></textarea>
      </app-field>
    </section>

    <div style="margin-top: 30px; display: flex; justify-content: space-between">
      <section>
        <!-- <strong class="error-states">*</strong> <i>Required field</i> -->
        <a href="javascript: void(0);" (click)="save(false)">
          <fa-icon [icon]="faSave" style="margin-right: 5px"></fa-icon>
          Save & Close</a>
      </section>
      <section>
        <button class="btn btn-secondary" style="margin-right: 10px" routerLink="/equipment-notification/profile-review/{{equipmentId}}">BACK
          TO STEP 1</button>
        <button class="btn btn-primary" (click)="markAsTouched(); save(true)">SAVE & CONTINUE</button>
      </section>
    </div>
  </div>
</div>
