<div [ngBusy]="[busy, busyPromise]"></div>
<div [formGroup]="form">
  <h2 class="step">STEP 5</h2>
  <h1 style="margin-top: 0;">Equipment Location</h1>

  <h3 class="blue-header">EQUIPMENT LOCATION</h3>
  <section class="padded-section">
    <div class="notes" style="display: flex;">
      <fa-icon [icon]="faExclamationCircle" style="color: #FCBA19; margin-right: 10px;"></fa-icon>
      <span>
        You have an ongoing obligation to keep current the location at which you ordinarily store each piece of
        Controlled Equipment.
      </span>
    </div>
    <mat-tab-group *ngIf="locations?.length > 0" [selectedIndex]="0" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="CHOOSE EXISTING LOCATION" style="overflow: hidden;">
        <div formGroupName="equipmentLocation">
          <app-field label="If this equipment is stored at a previously added location, please select it from the dropdown list below. ">
            <select class="form-control" formControlName="id" (change)="updateLocation($event)">
              <option value="">Choose an existing location</option>
              <option *ngFor="let item of locations" [value]="item.id">
                <span>{{item?.address?.streetLine1}} </span>
                <span *ngIf="item?.address?.streetLine2">, {{item?.address?.streetLine2}} </span>
                <span>, {{item?.address?.city}} </span>
                <span>, {{item?.address?.province}} </span>
                <span>, {{item?.address?.postalCode}} </span>
              </option>
            </select>
          </app-field>
          <div formGroupName="address">
            <p></p>
            <div class="row">
              <section class="col-md-6 col-xs-12">
                <app-field label="Street Address 1" [required]="true">
                  <input type="text" readonly formControlName="streetLine1" class="form-control">
                </app-field>
                <app-field label="City" [required]="true">
                  <input type="text" readonly formControlName="city" class="form-control">
                </app-field>
              </section>
              <section class="col-md-6 col-xs-12">
                <app-field label="Street Address 2" [required]="false">
                  <input type="text" readonly formControlName="streetLine2" class="form-control">
                </app-field>
                <div class="row">
                  <section class="col-md-6 col-xs-12">
                    <app-field label="Province" [required]="false">
                      <input type="text" readonly formControlName="province" class="form-control">
                    </app-field>
                  </section>
                  <section class="col-md-6 col-xs-12">
                    <app-field label="Postal Code" [required]="true">
                      <input type="text" readonly formControlName="postalCode" class="form-control">
                    </app-field>
                  </section>
                </div>
              </section>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="ADD A NEW LOCATION">
        <div formGroupName="equipmentLocation">
          <app-field formGroupName="address" [required]="true">
            <p></p>
            <div class="row">
              <section class="col-md-6 col-xs-12">
                <app-field label="Street Address 1" [valid]="isValidOrNotTouched('equipmentLocation.address.streetLine1')"
                  errorMessage="Please enter your street address" [required]="true">
                  <input type="text" formControlName="streetLine1" class="form-control">
                </app-field>
                <app-field label="City" [valid]="isValidOrNotTouched('equipmentLocation.address.city')" errorMessage="Please enter your city or town"
                  [required]="true">
                  <input type="text" formControlName="city" class="form-control">
                </app-field>
              </section>
              <section class="col-md-6 col-xs-12">
                <app-field label="Street Address 2">
                  <input type="text" formControlName="streetLine2" class="form-control">
                </app-field>
                <div class="row">
                  <section class="col-md-6 col-xs-12">
                    <app-field label="Province/State" [valid]="isValidOrNotTouched('equipmentLocation.address.province')"
                      errorMessage=" Please enter a province/state" [required]="true">
                      <input type="text" readonly formControlName="province" class="form-control">
                    </app-field>
                  </section>
                  <section class="col-md-6 col-xs-12">
                    <app-field label="Postal/Zip Code" [valid]="isValidOrNotTouched('equipmentLocation.address.postalCode')"
                      errorMessage="Please enter a postal/zip code" [required]="true">
                      <input type="text" formControlName="postalCode" class="form-control">
                    </app-field>
                  </section>
                </div>
              </section>
            </div>
          </app-field>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div formGroupName="equipmentLocation">
      <app-field *ngIf="!(locations?.length > 0)" formGroupName="address" label="Please provide the location where this piece of Controlled Equipment is ordinarily stored."
        [required]="true">
        <p></p>
        <div class="row">
          <section class="col-md-6 col-xs-12">
            <app-field label="Street Address 1" [valid]="isValidOrNotTouched('equipmentLocation.address.streetLine1')"
              errorMessage="Please enter your street address" [required]="true">
              <input type="text" formControlName="streetLine1" class="form-control">
            </app-field>
            <app-field label="City" [valid]="isValidOrNotTouched('equipmentLocation.address.city')" errorMessage="Please enter your city or town"
              [required]="true">
              <input type="text" formControlName="city" class="form-control">
            </app-field>
          </section>
          <section class="col-md-6 col-xs-12">
            <app-field label="Street Address 2">
              <input type="text" formControlName="streetLine2" class="form-control">
            </app-field>
            <div class="row">
              <section class="col-md-6 col-xs-12">
                <app-field label="Province/State" [valid]="isValidOrNotTouched('equipmentLocation.address.province')"
                  errorMessage=" Please enter a province/state" [required]="true">
                  <input type="text" readonly formControlName="province" class="form-control">
                </app-field>
              </section>
              <section class="col-md-6 col-xs-12">
                <app-field label="Postal/Zip Code" [valid]="isValidOrNotTouched('equipmentLocation.address.postalCode')"
                  errorMessage="Please enter a postal/zip code" [required]="true">
                  <input type="text" formControlName="postalCode" class="form-control">
                </app-field>
              </section>
            </div>
          </section>
        </div>
      </app-field>
  
      <app-field label="Please describe the setting in which this piece of equipment is ordinarily stored (i.e. manufacturing floor, storage room, outbuilding etc.)"
                 [valid]="isValidOrNotTouched('equipmentLocation.settingDescription')" errorMessage="Please answer the question above"
                 [showChevrons]="false" [required]="true">
        <textarea rows="5" formControlName="settingDescription" maxlength="500" class="form-control"></textarea>
      </app-field>

      <app-field label="Is this piece of equipment ordinarily stored at a private dwelling?" [valid]="isValidOrNotTouched('equipmentLocation.privateDwelling')"
                 errorMessage="Please select yes or no" [showChevrons]="false" [required]="true">
        <input type="radio" value="true" name="privateDwelling" formControlName="privateDwelling">
        <span style="padding-right: 10px;">&nbsp;Yes</span>
        <input type="radio" value="false" name="privateDwelling" formControlName="privateDwelling">
        <span>&nbsp;No</span>
      </app-field>
    </div>
  </section>

  <div style="margin-top: 30px; display: flex; justify-content: space-between">
    <section>
      <!-- <strong class="error-states">*</strong> <i>Required field</i> -->
      <a href="javascript: void(0);" (click)="save(false)">
        <fa-icon [icon]="faSave" style="margin-right: 5px"></fa-icon>
        Save & Close</a>
    </section>
    <section>
      <button class="btn btn-secondary" style="margin-right: 10px" routerLink="/equipment-notification/source/{{equipmentId}}">BACK
        TO STEP 4</button>
      <button class="btn btn-primary" (click)="markAsTouched(); save(true)">SAVE & CONTINUE</button>
    </section>
  </div>
</div>
