  <div [ngBusy]="[busy]"></div>
  <div [formGroup]="form">
    <h2 class="step">STEP 5</h2>
    <h1 style="margin-top: 0;">Equipment Location</h1>

    <h3 class="blue-header">EQUIPMENT LOCATION</h3>
    <section class="padded-section">
      <div class="notes" style="display: flex;">
        <i class="fas fa-exclamation-circle" style="color: #FCBA19; margin-right: 10px;"></i>
        <span>
          You have an ongoing obligation to keep current the location at which you ordinarily store each piece of
          Controlled Equipment.
        </span>
      </div>

      <app-field formGroupName="outsideBcSellersAddress" label="Please provide the location where this piece of Controlled Equipment is ordinarily stored."
        [required]="true">
        <p></p>
        <div class="row">
          <section class="col-md-6 col-xs-12">
            <app-field label="Street Address 1" [required]="true">
              <input type="text" formControlName="streetLine1" class="form-control">
            </app-field>
            <app-field label="City" [required]="true">
              <input type="text" formControlName="city" class="form-control">
            </app-field>
          </section>
          <section class="col-md-6 col-xs-12">
            <app-field label="Street Address 2" [required]="false">
              <input type="text" formControlName="streetLine2" class="form-control">
            </app-field>
            <div class="row">
              <section class="col-md-6 col-xs-12">
                <app-field label="Province" [required]="false">
                  <input type="text" readonly formControlName="province" class="form-control">
                </app-field>
              </section>
              <section class="col-md-6 col-xs-12">
                <app-field label="Postal Code" [required]="true">
                  <input type="text" formControlName="postalCode" class="form-control">
                </app-field>
              </section>
            </div>
          </section>
        </div>
      </app-field>

      <app-field label="Please describe the setting in which this piece of equipment is ordinarily stored (i.e. manufacturing floor, storage room, outbuilding etc.)"
        [required]="true">
        <textarea rows="5" maxlength="500" class="form-control"></textarea>
      </app-field>

      <app-field label="Is this piece of equipment ordinarily stored at a private dwelling?"
        [required]="true">
        <input type="radio" [value]="true" name="1">
        <span style="padding-right: 10px;">&nbsp;Yes</span>
        <input type="radio" [value]="false" name="1">
        <span>&nbsp;No</span>
      </app-field>
    </section>

    <div style="margin-top: 30px; display: flex; justify-content: space-between">
      <section>
        <!-- <strong class="error-states">*</strong> <i>Required field</i> -->
        <a href="javascript: void(0);" (click)="save(false)"><i class="fa fa-save" style="margin-right: 5px"></i>Save
          & Close</a>
      </section>
      <section>
        <button class="btn btn-secondary" style="margin-right: 10px" routerLink="/equipment-notification/source/{{equipmentId}}">BACK
          TO STEP 4</button>
        <button class="btn btn-primary" (click)="markAsTouched(); save(true)">SAVE & CONTINUE</button>
      </section>
    </div>
  </div>
