<div class="form-wrapper" style="position: relative;">
  <div [ngBusy]="[busy, busyPromise]"></div>
  <div [formGroup]="form">
    <div>
      <div>
        <h2 class="step">STEP 2</h2>
        <h1 style="margin-top: 0">Waiver Application</h1>
        <p>Please complete your waiver application below. Your information will only be saved once you click the Save &
          Continue button at the end of the page.</p>

        <h3 class="blue-header">EQUIPMENT INFORMATION</h3>
        <section class="padded-section">
          <app-field [showChevrons]="false" errorMessage="Please select yes or no" [valid]="form.get('currentlyownusepossessequipment').valid || !form.get('currentlyownusepossessequipment').touched">
            <span>Do you currently own, use, or possess <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-controlled-equipment"
                target="blank">Controlled Equipment</a>? </span>
            <input type="radio" [value]="true" name="currentlyownusepossessequipment" formControlName="currentlyownusepossessequipment">
            <span style="padding-right: 10px;">&nbsp;Yes</span>
            <input type="radio" [value]="false" name="currentlyownusepossessequipment" formControlName="currentlyownusepossessequipment">
            <span>&nbsp;No</span>
          </app-field>
          <app-field *ngIf="form.get('currentlyownusepossessequipment').value === false" label="Do you intend on purchasing Controlled Equipment in the future?"
            [showChevrons]="false" errorMessage="Please select yes or no" [valid]="form.get('intendtopurchaseequipment').valid || !form.get('intendtopurchaseequipment').touched"
            [required]="true">
            <input type="radio" [value]="true" name="intendtopurchaseequipment" formControlName="intendtopurchaseequipment">
            <span style="padding-right: 10px;">&nbsp;Yes</span>
            <input type="radio" [value]="false" name="intendtopurchaseequipment" formControlName="intendtopurchaseequipment">
            <span>&nbsp;No</span>
          </app-field>
          <app-field label="Do you own or intend to own Controlled Equipment for the sole use of your business?"
            [showChevrons]="false" errorMessage="Please select yes or no" [valid]="form.get('ownintendtoownequipmentforbusinessuse').valid || !form.get('ownintendtoownequipmentforbusinessuse').touched"
            [required]="true">
            <input type="radio" [value]="true" name="ownintendtoownequipmentforbusinessuse" formControlName="ownintendtoownequipmentforbusinessuse">
            <span style="padding-right: 10px;">&nbsp;Yes</span>
            <input type="radio" [value]="false" name="ownintendtoownequipmentforbusinessuse" formControlName="ownintendtoownequipmentforbusinessuse">
            <span>&nbsp;No</span>
          </app-field>
          <app-field label="Do you borrow, rent, or lease Controlled Equipment from someone else?" [showChevrons]="false"
            errorMessage="Please select yes or no" [valid]="form.get('borrowrentleaseequipment').valid || !form.get('borrowrentleaseequipment').touched"
            [required]="true">
            <input type="radio" [value]="true" name="borrowrentleaseequipment" formControlName="borrowrentleaseequipment">
            <span style="padding-right: 10px;">&nbsp;Yes</span>
            <input type="radio" [value]="false" name="borrowrentleaseequipment" formControlName="borrowrentleaseequipment">
            <span>&nbsp;No</span>
          </app-field>
          <app-field label="Do you sell Controlled Equipment to others?" [showChevrons]="false" errorMessage="Please select yes or no"
            [valid]="form.get('sellequipment').valid || !form.get('sellequipment').touched" [required]="true">
            <input type="radio" [value]="true" name="sellequipment" formControlName="sellequipment"> <span style="padding-right: 10px;">&nbsp;Yes</span>
            <input type="radio" [value]="false" name="sellequipment" formControlName="sellequipment"> <span>&nbsp;No</span>
          </app-field>
        </section>

        <h3 class="blue-header">PURPOSE OF CONTROLLED EQUIPMENT</h3>
        <section class="padded-section">
          <app-field label="Do you own, use, or possess (or intend to own) Controlled Equipment for the purposes of producing your own products?"
            [showChevrons]="false" errorMessage="Please select yes or no" [valid]="form.get('producingownproduct').valid || !form.get('producingownproduct').touched"
            [required]="true">
            <input type="radio" [value]="true" name="producingownproduct" formControlName="producingownproduct">
            <span style="padding-right: 10px;">&nbsp;Yes</span>
            <input type="radio" [value]="false" name="producingownproduct" formControlName="producingownproduct">
            <span>&nbsp;No</span>
          </app-field>
          <section *ngIf="form.get('producingownproduct').value === true" formArrayName="ownProducts">
            <p>
              Please provide detailed information on the type of product you produce and its intended use. If you
              produce multiple products, please describe all of them by clicking on the 'Add another product' link
              below.
            </p>
            <div style="display: flex;" *ngFor="let item of ownProducts.controls; let i = index;">
              <section style="flex: 10" [formGroupName]="i">
                <app-field [required]="true" [showChevrons]="false" errorMessage="Please provide the product description and its intended use"
                  [valid]="item.get('productdescriptionandintendeduse').valid || !item.get('productdescriptionandintendeduse').touched">
                  <div style="display: flex; justify-content: space-between">
                    <section>
                      <label>Product {{i === 0 ? '': i +1}} Description and Intended Use</label>
                      <span class="error-states">*</span>
                    </section>
                    <a href="javascript:void(0);" *ngIf="ownProducts.controls.length > 1" (click)="deleteCustomProduct(i, item.get('purpose').value)"><i
                        class="fas fa-trash-alt"></i>Delete Product</a>
                  </div>
                  <textarea class="form-control" formControlName="productdescriptionandintendeduse" maxlength="1000"
                    rows="5"></textarea>
                </app-field>
              </section>
            </div>
            <div style="background-color: #F2F2F2; border: solid 1px transparent; border-radius: 5px; padding: 10px; margin-bottom: 10px;">
              <i class="fas fa-info-circle" style="color: #38598A; margin-right: 10px;"></i>
              <span>A waiver will only be granted for the intended products and uses disclosed in this application.</span>
            </div>
            <a href="javascript:void(0);" (click)="addCustomProduct({purpose: PRODUCING_OWN_PRODUCT})" style="float: right">
              <i class="fas fa-plus-circle" style="color: #669900;"></i>Add another product</a>
            <div style="clear: both;"></div>
          </section>
          <app-field label="Do you own, use, or possess (or intend to own) Controlled Equipment for the purposes of providing manufacturing services to others?"
            [showChevrons]="false" errorMessage="Please select yes or no" [valid]="form.get('providingmanufacturingtoothers').valid || !form.get('providingmanufacturingtoothers').touched"
            [required]="true">
            <input type="radio" [value]="true" name="providingmanufacturingtoothers" formControlName="providingmanufacturingtoothers">
            <span style="padding-right: 10px;">&nbsp;Yes</span>
            <input type="radio" [value]="false" name="providingmanufacturingtoothers" formControlName="providingmanufacturingtoothers">
            <span>&nbsp;No</span>
          </app-field>
          <section *ngIf="form.get('providingmanufacturingtoothers').value === true" formArrayName="productsForOthers">
            <p>
              Please provide detailed information on the type of product you produce for others and its intended use.
              If you produce multiple products, please describe all of them by clicking on the "Add another product"
              link below.
            </p>
            <div style="display: flex;" *ngFor="let item of productsForOthers.controls; let i = index;">
              <section style="flex: 10" [formGroupName]="i">
                <app-field [required]="true" [showChevrons]="false" errorMessage="Please provide the product description and its intended use"
                  [valid]="item.get('productdescriptionandintendeduse').valid || !item.get('productdescriptionandintendeduse').touched">
                  <div style="display: flex; justify-content: space-between">
                    <section>
                      <label>Product {{i === 0 ? '': i +1}} Description and Intended Use</label>
                      <span class="error-states">*</span>
                    </section>
                    <a href="javascript:void(0);" *ngIf="productsForOthers.controls.length > 1" (click)="deleteCustomProduct(i, item.get('purpose').value)"><i
                        class="fas fa-trash-alt"></i>Delete Product</a>
                  </div>
                  <textarea class="form-control" formControlName="productdescriptionandintendeduse" maxlength="1000"
                    rows="5"></textarea>
                </app-field>
              </section>
            </div>
            <div style="background-color: #F2F2F2; border: solid 1px transparent; border-radius: 5px; padding: 10px; margin-bottom: 10px;">
              <i class="fas fa-info-circle" style="color: #38598A; margin-right: 10px;"></i>
              <span>A waiver will only be granted for the intended products and uses disclosed in this application.</span>
            </div>
            <a href="javascript:void(0);" (click)="addCustomProduct({purpose: MANUFACTURING_FOR_OTHERS})" style="float: right">
              <i class="fas fa-plus-circle" style="color: #669900;"></i>Add another product</a>
            <div style="clear: both;"></div>
          </section>
        </section>

        <h3 class="blue-header">BUSINESS DETAILS</h3>
        <section class="padded-section">
          <app-field label="Please explain the main focus of your business and why that requires Controlled Equipment."
            [showChevrons]="false" errorMessage="Please provide an answer to the above question" [valid]="form.get('mainbusinessfocus').valid || !form.get('mainbusinessfocus').touched"
            [required]="true">
            <textarea maxlength="2000" formControlName="mainbusinessfocus" class="form-control" rows="5"></textarea>
          </app-field>
          <app-field [required]="true" [showChevrons]="false" errorMessage="Please provide an answer to the above question"
            [valid]="form.get('manufacturingprocessdescription').valid || !form.get('manufacturingprocessdescription').touched"
            label="Please describe the manufacturing process you use to produce the above-noted products. Please include specific information on how you utilize the Controlled Equipment throughout the manufacturing process.">
            <textarea maxlength="2000" formControlName="manufacturingprocessdescription" class="form-control" rows="5"></textarea>
          </app-field>

          <section>
            <label for="">If you have additional <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/definition#sd"
                target="blank">supporting documents</a>, please upload them below.</label>
            <app-file-uploader documentType="Waiver Documents" entityName="incident" [entityId]="waiverId" fileTypes="FILE MUST BE IN DOC, XLS, PDF, JPG OR PNG"
              [extensions]="['pdf', 'jpg', 'jpeg', 'png', 'xls', 'doc']"></app-file-uploader>
          </section>
        </section>

        <section style="display: flex; justify-content: space-between; padding-top: 30px;">
          <!-- <div><span class="error-states">*</span> <i>Required field</i></div> -->
          <a href="javascript: void(0);" (click)="save(false);" style="margin-right: 10px">
            <i class="fa fa-save" style="margin-right: 5px;"></i>Save & Close</a>
          <div>
            <button class="btn btn-primary" (click)="markAsTouched(); save(true);">SAVE & CONTINUE</button>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>