<div>
  <h1>Thank You</h1>
  <p>Thank you for submitting your application!</p>
  <p>
    You can track the progress of your confirmation on the client Dashboard. Your confirmation will be processed in
    date order. We will contact you if further information is required.
  </p>
  <p>
    Once your confirmation is approved, please register your <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-controlled-equipment"
      target="blank">Controlled Equipment</a> within 10 days.
  </p>
  <div>
    <button style="float: right;" class="btn btn-primary" routerLink="/dashboard">RETURN TO DASHBOARD</button>
  </div>
</div>