<div class="form-wrapper row">
  <div class="col-lg-8 col-sm-12">
    <h1>Thank You</h1>
    <p>Thank you for submitting your application!</p>
    <p>
      You can track the progress of your confirmation on the client Dashboard. Your confirmation will be processed in
      date order. We will contact you if further information is required.
    </p>
    <p>
      Once your confirmation is approved, please register your <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-controlled-equipment"
        target="blank">Controlled Equipment</a> within 10 days.
    </p>
    <div>
      <button style="float: right;" class="btn btn-primary" routerLink="/dashboard">RETURN TO DASHBOARD</button>
    </div>
  </div>

  <div class="col-lg-4 col-sm-12" style="position: relative">
    <!-- <div [ngBusy]="busy"></div> -->
    <p></p>
    <section class="submit-container">
      <table>
        <tr>
          <td>
            <h2 class="round-icon-wrapper"><i class="fas fa-address-card"></i></h2>
          </td>
          <td style="padding-left: 10px">
            <h2>Useful Links & Information</h2>
          </td>
        </tr>
      </table>
      <div class="submit-content">
      </div>
    </section>

  </div>
</div>