<div class="form-wrapper row">
    <div class="col-lg-8 col-sm-12">
      <h1>Thank You</h1>
      <p>Thank you for submitting your application!</p>
      <p>
        You can track the progress of your application on the client Dashboard. Your application will be processed in
        date
        order. We will contact you if further information is required.</p>
      <p>
        Once your application is approved, please register your Controlled Equipment within 10 days. For more information
        about Controlled Equipment, please see: [Insert hyperlink to website].
      </p>
      <div>
        <button style="float: right;" class="btn btn-primary" routerLink="/dashboard">RETURN TO DASHBOARD</button>
      </div>
    </div>
  
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <!-- <div [ngBusy]="busy"></div> -->
      <p></p>
      <section class="submit-container">
        <table>
          <tr>
            <td>
              <h2 class="round-icon-wrapper"><i class="fas fa-question"></i></h2>
            </td>
            <td style="padding-left: 10px">
              <h2>Update your personal information</h2>
            </td>
          </tr>
        </table>
        <div class="submit-content">
          <p>If you find an error in your personal information, please contact Service BC, ICBC or AddressChangeBC to
            correct
            it.
          </p>
          <ul>
            <li>
              <a style="color: #fff;" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/change-personal-information">BC
                Service Card</a>
            </li>
            <li>
              <a style="color: #fff;" href="https://www.icbc.com/driver-licensing/getting-licensed/Pages/Change-your-address-or-name.aspx">ICBC</a>
            </li>
            <li>
              <a style="color: #fff;" href="https://www.addresschange.gov.bc.ca/">AddressChangeBC</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="submit-container" style="background-color: #F2F2F2; color:#000; border: none;">
        <h2 style="color: #000">Collection Notice:</h2>
        <div class="submit-content">
          <p>
            The Security Programs Division (SPD) will collect your personal information for the purpose of fulfilling
            the requirements
            of the Cannabis Control and Licensing Act (CCLA) and associated regulations in accordance with Sections 26
            (a)
            and (c) of the Freedom of Information and Protection of Privacy Act. Should you have any questions about
            the
            collection, use, or disclosure of personal information, please contact the Senior Policy Analyst, Security
            Programs
            Division via mail to PO Box 9217 Stn Prov Govt Victoria, BC V8W 9J1; email to
            <a href="mailto:cannabissecurityscreening@gov.bc.ca">cannabissecurityscreening@gov.bc.ca</a>;
            or by telephone at 1-855-587-0185.</p>
        </div>
      </section>
    </div>
  </div>