.submitted-header {
    background-color: rgba(56, 89, 138, 1);
    border: 1px solid transparent;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #fff !important;
}

.submitted-header h2 {
    color: #fff !important;
}

.submitted-content {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 20px;
}

.submit-container {
    background-color: #38598A;
    border-bottom: solid 4px #FFCC00;
    color: #fff;
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 20px;
    h2 {
        color: #fff;
    }
}

ul {
    list-style-type: none;
}

li::before {
    color: #1E4176;
    content: "\25AA";
    display: inline-block;
    font-size: 34px;
    line-height: 0;
    vertical-align: middle;
    width: 0.5em;
    margin-left: -16px;
}

li {
    margin: 10px auto;
    margin-left: 16px;
}

.li-header {
    margin-left: 40px;
}

.waiver {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-wrapper {
    background-color: #ccc;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    width: 54px;
    height: 54px;
}

.eq-table {
    border-spacing: 1px 5px;
    border-collapse: separate;
    width: 100%;
}

.eq-table td,
.eq-table th {
    background-color: #F1F4FA;
    color: #000;
}
.eq-table th {
    padding: 10px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.user-icon {
    background-color: #fff;
    padding: 5px;
    display: inline-block;
    border-radius: 30px;
    margin-left: 20px;
    float: right;
    border: 1px solid #eee;
}

.user-icon i {
    color: #38598A;
    margin-left: 5px;
    margin-right: 5px;
}

::ng-deep .mat-tab-label {
    background-color: #E1E8F2 !important;
    color: #000;
    margin-right: 5px;
    margin-bottom: 5px;
    opacity: 1 !important;
    padding: 0 10px !important;
    height: 35px !important;
    min-width: 100px !important;
}

::ng-deep .mat-tab-label-active {
    background-color: #38598A !important;
    color: #fff;
}

::ng-deep .mat-tab-header {
    border-bottom: 4px solid #38598A !important;
    margin-bottom: 15px;
}

::ng-deep .mat-ink-bar {
    display: none;
}

/* status styles*/

.status-container {
    background-color: #E1E8F2;
    padding: 15px;
    height: 170px;
}

.status,
.status-orange,
.status-red,
.status-blue,
.status-green {
    display: inline-block;
    color: #666;
    font-weight: 600;
}

.status-blue,
    {
    color: #1A5A96;
}

.status-orange {
    color: #FF9900;
}

.status-red {
    color: #D8292F;
}

.status-green {
    color: #669933;
}