<div class="form-wrapper">
  <div [ngBusy]="busy"></div>
  <h1>Client Profile Dashboard</h1>
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <h3 class="blue-header" style="margin-bottom: 0; margin-top: 0;">OWNER CATEGORIES</h3>
      <section style="border: 1px solid #ccc; padding: 20px; border-bottom: 3px solid #FFCC00; margin-bottom: 60px;">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</p>

        <div class="space-between">
          <section style="margin-right: 10px;  flex: 1">
            <div style="background-color: #F1F4FA; padding: 15px; height: 170px;">
              <h3 style="display: inline-block; margin-top: 0">Authorized Owner</h3>
              <div style="background-color: #fff; padding: 5px; display: inline-block; border-radius: 20px; margin-left: 20px; float: right;">
                <i class="fas fa-user fa-2x" style="color: #38598A; margin-left: 5px; margin-right: 5px;"></i>
              </div>
              <p>
                Holders of Health Canada drug establishment licences and site licences to manufacture drugs or natural
                health products are authorized to own controlled equipment under the Act. Read more
              </p>

            </div>
            <div style="background-color: #E1E8F2; padding: 15px;">
              <h4 style="display: inline-block;">STATUS:</h4> &nbsp;
              <h4 style="display: inline-block;">NO ACTION TAKEN YET</h4>
              <p>To become a Waiver Holder, please complete and submit an application form.</p>
              <button class="btn btn-primary" style="float:right" (click)="startNewAuthorizedOwnerApplication()">APPLY
                NOW</button>
              <div style="clear: both;"></div>
            </div>
          </section>
          <section style="margin-right: 10px; flex: 1">
            <div style="background-color: #F1F4FA; padding: 15px; height: 170px;">
              <h3 style="display: inline-block; margin-top: 0">Waiver Holder</h3>
              <div style="background-color: #fff; padding: 5px; display: inline-block; border-radius: 20px; margin-left: 20px; float: right;">
                <i class="fas fa-user fa-2x" style="color: #38598A; margin-left: 5px; margin-right: 5px;"></i>
              </div>
              <p>A person or entity that owns, uses or possess the controlled equipment and is not covered under a
                Canadian Food and Drugs Act licence. Read more
              </p>

            </div>
            <div style="background-color: #E1E8F2; padding: 15px;">
              <h4 style="display: inline-block;">STATUS:</h4> &nbsp;
              <h4 style="display: inline-block;">NO ACTION TAKEN YET</h4>
              <p>To become a Waiver Holder, please complete and submit an application form.</p>
              <button class="btn btn-primary" style="float:right" (click)="startNewWaiverApplication()">APPLY
                NOW</button>
              <div style="clear: both;"></div>
            </div>
          </section>

          <section style=" flex: 1">
            <div style="background-color: #F1F4FA; padding: 15px; height: 170px;">
              <h3 style="display: inline-block; margin-top: 0">Registered Seller</h3>
              <div style="background-color: #fff; padding: 5px; display: inline-block; border-radius: 20px; margin-left: 20px; float: right;">
                <i class="fas fa-user fa-2x" style="color: #38598A; margin-left: 5px; margin-right: 5px;"></i>
              </div>
              <p>
                A person or business that sells the controlled equipment. Read more
              </p>

            </div>
            <div style="background-color: #E1E8F2; padding: 15px;">
              <h4 style="display: inline-block;">STATUS:</h4> &nbsp;
              <h4 style="display: inline-block;">NO ACTION TAKEN YET</h4>
              <p>To become a Waiver Holder, please complete and submit an application form.</p>
              <button class="btn btn-primary" style="float:right" (click)="startNewASellerApplication()">APPLY
                NOW</button>
              <div style="clear: both;"></div>
            </div>
          </section>
        </div>
      </section>

      <p></p>
      <h3 class="blue-header" style="margin-bottom: 0; margin-top: 0;">EQUIPMENT</h3>
      <section style="border: 1px solid #ccc; padding: 10px;">
        <div class="space-between" style="padding: 10px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem</p>
          <button class="btn btn-primary" (click)="addEquipment()">ADD MORE EQUIPMENT</button>
        </div>
        <mat-tab-group>
          <mat-tab label="IN PROGRESS">
            <p>The list of Controlled Equipment notifications below have been submitted.</p>
          </mat-tab>
          <mat-tab label="COMPLETED">
            <p>The inventory of Controlled Equipment notifications below have been completed.</p>
          </mat-tab>
        </mat-tab-group>
        <table class="eq-table">
          <tr>
            <th>EQUIPMENT</th>
            <th style="width: 95px">SUMBITTED</th>
            <th style="width: 235px">STATUS</th>
            <th>ACTIONS</th>
          </tr>
          <tr *ngFor="let item of [{},{}]; let i = index;" style="border: 1px solid #ccc; ">
            <td style="padding: 0;">
              <div style="display: flex;">
                <span style="background-color: #E1E8F2; padding: 5px;">{{i+1}}</span>
                <div style="background-color: #F1F4FA; padding: 5px; padding-bottom: 15px;">
                  <span>Pill Press</span> <br>
                  <span>Serial nr: </span> <i>Not available</i> <br>
                  <span>Reference nr: </span> <span>EQ1234567</span> <br>
                </div>
              </div>
            </td>
            <td>12 Dec 2018</td>
            <td style="background-color: #E1E8F2; padding: 5px;">
              <span>DRAFT</span>
              <p>You have started an application but not submitted it yet.</p>
            </td>
            <td style="background-color: #E1E8F2; padding: 5px;">
              <a href="javascript: void(0)">Complete Application</a>
            </td>
          </tr>
        </table>
      </section>

      <p></p>
    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <div [ngBusy]="busy"></div>

      <section>
        <h3 class="blue-header" style="margin-top: 0; margin-bottom: 0">BUSINESS PROFILE</h3>

        <div class="submitted-content">
          <strong>{{account?.businessLegalName}}</strong> <br>
          <p></p>
          <strong>Business Number:</strong>&nbsp; <span>{{account?.businessNumber}}</span> <br>
          <p></p>
          <strong>Client ID Number: </strong>&nbsp; <span></span> <br>
          <p></p>
          <p>Click below to view your complete business profile, and to update your business address or contact
            details.
          </p>
          <div>
            <a routerLink="/business-profile" style="float: right;">
              <i class="fas fa-pencil-alt" style="margin-right: 5px; "></i> Edit Business Profile</a>
            <div style="clear: both;"></div>
          </div>
        </div>
      </section>
      <p></p>
      <section class="submit-container">
        <div>
          <h2>Useful Links &amp; Information</h2>
        </div>
        <div class="submit-content">
          <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>

        </div>
      </section>
    </div>
  </div>

</div>