<div class="form-wrapper">
  <div [ngBusy]="busy"></div>
  <h1>Client Profile Dashboard</h1>
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <h3 class="blue-header" style="margin-bottom: 0; margin-top: 0;">OWNER CATEGORIES</h3>
      <section style="border: 1px solid #ccc; padding: 20px; border-bottom: 4px solid #FFCC00; margin-bottom: 60px;">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</p>

        <div class="space-between">
          <section style="margin-right: 10px;  flex: 1">
            <div style="background-color: #F1F4FA; padding: 15px; height: 170px;">
              <h3 style="display: inline-block; margin-top: 0">Authorized Owner</h3>
              <div class="user-icon">
                <i class="fas fa-user fa-2x"></i>
              </div>
              <p>
                Holders of Health Canada drug establishment licences and site licences to manufacture drugs or natural
                health products are authorized to own controlled equipment under the Act. Read more
              </p>

            </div>
            <div class="status-container">
              <section *ngIf="!authorizedOwnerApplication || authorizedOwnerApplication?.statuscode === 'Cancelled' || authorizedOwnerApplication?.statuscode === 'Denied'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-blue">NO ACTIVE NOTIFICATION</h4>
                <p>To become a Waiver Holder, please complete and submit an application form.</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewAuthorizedOwnerApplication()">NOTIFY
                  US</button>
                <div style="clear: both;"></div>
              </section>
              <section *ngIf="authorizedOwnerApplication?.statuscode === 'Draft'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-orange">DRAFT</h4>
                <p>You have started an application but not submitted it yet.</p>
                <a routerLink="/authorized-owner/profile-review/{{authorizedOwnerApplication.id}}"><i class="fas fa-exclamation-circle"
                    style="color: #38598A; margin-right: 5px;"></i>Complete
                  Application</a>
              </section>
              <section *ngIf="isAuthorizedApplicationPending()">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-blue">PENDING</h4>
                <p>Your application has been submitted.No futher action currently required</p>
                <p>
                  <strong>Reference #:&nbsp;</strong>{{authorizedOwnerApplication?.title}}
                </p>
              </section>
              <section *ngIf="authorizedOwnerApplication?.statuscode === 'Approved'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-green">COMPLETED</h4>
                <p>
                  <strong>Confirmation Date:&nbsp;</strong>
                </p>
                <p>
                  <strong>Reference #:&nbsp;</strong>{{authorizedOwnerApplication?.title}}
                </p>
              </section>
              <section *ngIf="authorizedOwnerApplication?.statuscode === 'Withdrawn'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-orange">WITHDRAWN</h4>
                <p>You have withdrawn your application. We will cease all processing activities.</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewAuthorizedOwnerApplication()">NOTIFY
                  US AGAIN</button>
                <div style="clear: both;"></div>
              </section>
            </div>
          </section>
          <section style="margin-right: 10px; flex: 1">
            <div style="background-color: #F1F4FA; padding: 15px; height: 170px;">
              <h3 style="display: inline-block; margin-top: 0">Waiver Holder</h3>
              <div class="user-icon">
                <i class="fas fa-user fa-2x"></i>
              </div>
              <p>A person or entity that owns, uses or possess the controlled equipment and is not covered under a
                Canadian Food and Drugs Act licence. Read more
              </p>

            </div>
            <div class="status-container">
              <section *ngIf="!waiverApplication">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-blue">NO ACTION TAKEN YET</h4>
                <p>To become a Waiver Holder, please complete and submit an application form.</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewWaiverApplication()">APPLY
                  NOW</button>
                <div style="clear: both;"></div>
              </section>
              <section *ngIf="waiverApplication?.statuscode === 'Draft'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-orange">DRAFT</h4>
                <p>You have started an application but not submitted it yet.</p>
                <a routerLink="/waiver/profile-review/{{waiverApplication.id}}"><i class="fas fa-exclamation-circle"
                    style="color: #38598A; margin-right: 5px;"></i>Complete
                  Application</a>
              </section>
              <section *ngIf="waiverApplication?.statuscode === 'Pending'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-blue">PENDING</h4>
                <p>Your application has been submitted. No futher action currently required</p>
                <p>
                  <strong>Application #:&nbsp;</strong> {{waiverApplication?.title}}
                </p>
              </section>
              <section *ngIf="waiverApplication?.statuscode === 'Incomplete'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-red">INCOMPLETE</h4>
                <p>Your application has missing or inaccurate information. Our team will contact you.</p>
                <p>
                  <strong>Application #:&nbsp;</strong> {{waiverApplication?.title}}
                </p>
              </section>
              <section *ngIf="isWaiverOrSellerUnderReview(waiverApplication?.statuscode)">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-blue">UNDER REVIEW</h4>
                <p>Your application is currently under review. No futher action currently required</p>
                <p>
                  <strong>Application #:&nbsp;</strong> {{waiverApplication?.title}}
                </p>
              </section>
              <section *ngIf="waiverApplication?.statuscode === 'Approved'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-green">APPROVED</h4>
                <p>
                  <strong>Issue Date:&nbsp;</strong>11 Dec 2018
                  <br>
                  <strong>Expiry Date:&nbsp;</strong>11 Dec 2023
                  <br>
                </p>
                <a href=""><i class="fa fa-file-pdf" style="color: #38598A; margin-right: 5px;"></i>Download
                  Certificate</a>
              </section>
              <section *ngIf="waiverApplication?.statuscode === 'Denied'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-red">DENIED</h4>
                <p>Your application has been denied. No futher action required.</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewWaiverApplication()">APPLY
                  AGAIN</button>
                <div style="clear: both;"></div>
              </section>
              <section *ngIf="waiverApplication?.statuscode === 'Withdrawn'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-orange">WITHDRAWN</h4>
                <p>You have withdrawn your application. We will cease all processing activities.</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewWaiverApplication()">APPLY
                  AGAIN</button>
                <div style="clear: both;"></div>
              </section>
              <section *ngIf="waiverApplication?.statuscode === 'Cancelled'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-red">CANCELLED</h4>
                <p>Your application has been cancelled. No futher action required</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewWaiverApplication()">APPLY
                  AGAIN</button>
                <div style="clear: both;"></div>
              </section>
              <section *ngIf="waiverApplication?.statuscode === 'Expired'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-orange">EXPIRED</h4>
                <p>Your waiver has expired. Please submit a renewal application.</p>
                <button class="btn btn-primary" style="float:right">RENEW APPLICATION</button>
                <div style="clear: both;"></div>
              </section>
            </div>
          </section>

          <section style=" flex: 1">
            <div style="background-color: #F1F4FA; padding: 15px; height: 170px;">
              <h3 style="display: inline-block; margin-top: 0">Registered Seller</h3>
              <div class="user-icon">
                <i class="fas fa-user fa-2x"></i>
              </div>
              <p>
                A person or business that sells the controlled equipment. Read more
              </p>

            </div>
            <div class="status-container">
              <section *ngIf="!registeredSellerApplication">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-blue">NO ACTION TAKEN YET</h4>
                <p>To become a Registered Seller, please complete and submit an application form.</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewASellerApplication()">REGISTER
                  NOW</button>
                <div style="clear: both;"></div>
              </section>
              <section *ngIf="registeredSellerApplication?.statuscode === 'Draft'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-orange">DRAFT</h4>
                <p>You have started an application but not submitted it yet.</p>
                <a routerLink="/registered-seller/profile-review/{{registeredSellerApplication.id}}"><i class="fas fa-exclamation-circle"
                    style="color: #38598A; margin-right: 5px;"></i>Complete
                  Application</a>
              </section>
              <section *ngIf="registeredSellerApplication?.statuscode === 'Pending'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-blue">PENDING</h4>
                <p>Your application has been submitted.No futher action currently required</p>
                <p>
                  <strong>Application #:&nbsp;</strong> {{registeredSellerApplication?.title}}
                </p>
              </section>
              <section *ngIf="registeredSellerApplication?.statuscode === 'Incomplete'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-red">INCOMPLETE</h4>
                <p>Your application has missing or inaccurate information. Our team will contact you.</p>
                <p>
                  <strong>Application #:&nbsp;</strong> {{registeredSellerApplication?.title}}
                </p>
              </section>
              <section *ngIf="isWaiverOrSellerUnderReview(registeredSellerApplication?.statuscode)">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-blue">UNDER REVIEW</h4>
                <p>Your application is currently under review. No futher action currently required</p>
                <p>
                  <strong>Application #:&nbsp;</strong> {{registeredSellerApplication?.title}}
                </p>
              </section>
              <section *ngIf="registeredSellerApplication?.statuscode === 'Approved'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-green">APPROVED</h4>
                <p>
                  <strong>Issue Date:&nbsp;</strong>11 Dec 2018
                  <br>
                  <strong>Expiry Date:&nbsp;</strong>11 Dec 2023
                  <br>
                </p>
                <a href=""><i class="fa fa-file-pdf" style="color: #38598A; margin-right: 5px;"></i>Download
                  Certificate</a>
              </section>
              <section *ngIf="registeredSellerApplication?.statuscode === 'Denied'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-red">DENIED</h4>
                <p>Your application has been denied. No futher action required.</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewASellerApplication()">REGISTER
                  NOW</button>
                <div style="clear: both;"></div>
              </section>
              <section *ngIf="registeredSellerApplication?.statuscode === 'Withdrawn'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-orange">WITHDRAWN</h4>
                <p>You have withdrawn your application. We will cease all processing activities.</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewASellerApplication()">REGISTER
                  NOW</button>
                <div style="clear: both;"></div>
              </section>
              <section *ngIf="registeredSellerApplication?.statuscode === 'Cancelled'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-red">CANCELLED</h4>
                <p>Your application has been cancelled. No futher action required</p>
                <button class="btn btn-primary" style="float:right" (click)="startNewASellerApplication()">REGISTER
                  AGAIN</button>
                <div style="clear: both;"></div>
              </section>
              <section *ngIf="registeredSellerApplication?.statuscode === 'Expired'">
                <h4 class="status">STATUS:</h4> &nbsp;
                <h4 class="status-orange">EXPIRED</h4>
                <p>Your waiver has expired. Please submit a renewal application.</p>
                <button class="btn btn-primary" style="float:right">RENEW REGISTRATION</button>
                <div style="clear: both;"></div>
              </section>
            </div>
          </section>
        </div>
      </section>

      <p></p>
      <div *ngIf="showEquipmentTables()">
        <h3 class="blue-header" style="margin-bottom: 0; margin-top: 0;">EQUIPMENT</h3>
        <section style="border: 1px solid #ccc; padding: 10px;  border-bottom: 4px solid #FFCC00;">
          <section *ngIf="inProgressEquipment?.length === 0 && completedEquipment?.length === 0">
            <div class="space-between" style="padding: 10px;">
              <p>You have not submitted any Controlled Equipment yet.</p>
              <button class="btn btn-primary" (click)="addEquipment()">ADD EQUIPMENT</button>
            </div>
            <p></p>
            <div class="notes" style="display: flex;">
              <i class="fas fa-exclamation-circle fa-lg" style="color: #FFCC00; margin-right: 10px;"></i>
              <span>
                Once your owner application is approved, please ensure you register your Controlled Equipment within 10
                days. For more information about Controlled Equipment, please see: www.tbc.com</span>
            </div>
          </section>
          <section *ngIf="inProgressEquipment?.length > 0 || completedEquipment?.length > 0">
            <div class="space-between" style="padding: 10px;">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem</p>
              <button class="btn btn-primary" (click)="addEquipment()">ADD MORE EQUIPMENT</button>
            </div>
            <mat-tab-group [selectedIndex]="(inProgressEquipment?.length > 0 || completedEquipment?.length == 0) ? 0 : 1">
              <mat-tab label="IN PROGRESS">
                <p>The list of Controlled Equipment notifications below have been submitted.</p>
                <table class="eq-table">
                  <tr>
                    <th>EQUIPMENT</th>
                    <th style="width: 95px">SUMBITTED</th>
                    <th style="width: 235px">STATUS</th>
                    <th>ACTIONS</th>
                  </tr>
                  <tr *ngFor="let item of inProgressEquipment; let i = index;" style="border: 1px solid #ccc; ">
                    <td style="padding: 0;">
                      <div style="display: flex;">
                        <span style="background-color: #E1E8F2; padding: 10px;">{{i+1}}</span>
                        <div style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
                          <span>{{item.equipmentType}}</span> <br>
                          <span>Serial #: </span> <i>{{item.serialNumber || 'Not available'}}</i> <br>
                          <span>Reference #: {{item.title}} </span> <span></span> <br>
                        </div>
                      </div>
                    </td>
                    <td style="padding: 10px; width: 110px;" valign="top">
                      {{item.submittedDate | date: 'dd/MM/yyyy'}}
                    </td>
                    <td style="background-color: #E1E8F2; padding: 10px;">
                      <section *ngIf="item.statuscode === 'Draft'">
                        <span class="status-orange">DRAFT</span>
                        <p>You have started an application but not submitted it yet.</p>
                      </section>
                      <section *ngIf="item.statuscode !== 'Draft'">
                        <span class="status-blue">PENDING</span>
                        <p>Your application has been submitted.</p>
                      </section>
                    </td>
                    <td style="background-color: #E1E8F2; padding: 10px;" valign="top">
                      <section *ngIf="item.statuscode === 'Draft'">
                        <a href="javascript: void(0);" routerLink="/equipment-notification/profile-review/{{item.id}}">
                          <i class="fa fa-exclamation-circle" style="color: #003366; margin-right: 10px;"></i>Complete
                          Application</a>
                      </section>
                      <section *ngIf="item.statuscode === 'Pending'">
                        <a href="javascript: void(0);" routerLink="/equipment-notification/profile-review/{{item.id}}">
                          <i class="fa fa-eye" style="color: #003366; margin-right: 10px;"></i>View Submission</a>
                      </section>
                    </td>
                  </tr>
                </table>
                <p></p>
                <div class="notes" style="display: flex;">
                  <i class="fas fa-exclamation-circle fa-lg" style="color: #003366; margin-right: 10px;"></i>
                  <span> Please ensure you fill out an equipment notification form for each individual piece of
                    Controlled
                    Equipment in your posession until your entire inventory is listed.</span>
                </div>
              </mat-tab>
              <mat-tab label="COMPLETED">
                <p>The inventory of Controlled Equipment notifications below have been completed.</p>
                <table class="eq-table">
                  <tr>
                    <th style="width: 335px">EQUIPMENT</th>
                    <th>LOCATION <span style="font-weight: normal;">(where equipment ordinarily stored)</span></th>
                    <th style="width: 335px">STATUS CHANGES <span style="font-weight: normal;">(for each piece of
                        equipment)</span></th>
                  </tr>
                  <tr *ngFor="let item of completedEquipment; let i = index;" style="border: 1px solid #ccc; ">
                    <td style="padding: 0; position: relative;">
                      <div style="display: flex;position: absolute;top: 0;bottom:  0;right:  0;left: 0;">
                        <span style="background-color: #E1E8F2; padding: 10px;">{{i+1}}</span>
                        <div style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
                          <span>{{item.equipmentType}}</span> <br>
                          <span>Serial #: </span> <i>{{item.serialNumber || 'Not available'}}</i> <br>
                          <span>Equipment Registry #: </span> <span></span> <br>
                          <a href=""><i class="fa fa-file-pdf" style="color: #38598A; margin-right: 5px;"></i>Download
                            Certificate</a>
                        </div>
                      </div>
                    </td>
                    <td style="padding: 10px;">
                      {{item?.equipmentLocation?.address?.streetLine1}} <br>
                      <div *ngIf="item?.equipmentLocation?.address?.streetLine2">
                        {{item?.equipmentLocation?.address?.streetLine2}}
                      </div>
                      {{item?.equipmentLocation?.address?.city}} <br>
                      {{item?.equipmentLocation?.address?.province}} <br>
                      {{item?.equipmentLocation?.address?.postalCode}} <br>
                    </td>
                    <td style="background-color: #E1E8F2; padding: 10px;">
                      <a href="javascript: void(0)"><i class="fas fa-eye" style="margin-right: 5px;"></i>View
                        Submission</a>
                      <br>
                      <a href="javascript: void(0)"><i class="fas fa-map-marker-alt" style="margin-right: 5px;"></i>Edit
                        Location</a> <br>
                      <a href="javascript: void(0)"><i class="fas fa-exclamation-triangle" style="margin-right: 5px;"></i>Report
                        Change (lost, stolen, destroyed)</a> <br>
                      <a href="javascript: void(0)"><i class="fas fa-shopping-cart" style="margin-right: 5px;"></i>Report
                        Sale</a>
                    </td>
                  </tr>
                </table>
              </mat-tab>
            </mat-tab-group>
          </section>

        </section>
      </div>
      <p></p>
    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <div [ngBusy]="busy"></div>

      <section>
        <h3 class="blue-header" style="margin-top: 0; margin-bottom: 0">BUSINESS PROFILE</h3>

        <div class="submitted-content" style="background-color: #F1F4FA; border-bottom: 4px solid #E4E4E4">
          <strong>{{account?.businessLegalName}}</strong> <br>
          <p></p>
          <strong>Business Phone:</strong>&nbsp; <span>{{account?.businessPhoneNumber}}</span> <br>
          <p></p>
          <strong>Business Email: </strong>&nbsp; <span>{{account?.businessEmail}}</span> <br>
          <p></p>
          <p>Click below to view your complete business profile, and to update your business address or contact
            details.
          </p>
          <div>
            <a routerLink="/business-profile" style="float: right;">
              <i class="fas fa-pencil-alt" style="margin-right: 5px; "></i> Edit Business Profile</a>
            <div style="clear: both;"></div>
          </div>
        </div>
      </section>
      <p></p>
      <section class="submit-container">
        <div>
          <h2>Useful Links &amp; Information</h2>
        </div>
        <div class="submit-content">
          <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>

        </div>
      </section>
    </div>
  </div>

</div>