<div class="form-wrapper row" style="position: relative">
   <div [ngBusy]="busy"></div>
  <div [ngClass]="{'col-lg-12': nextRoute, 'col-lg-8': !nextRoute}" class="col-sm-12">
    <h2 class="step" *ngIf="nextRoute">STEP 1</h2>
    <h1>Business Profile Review</h1>

    <p>
      You have provided the following information in your business profile. In order to proceed, please confirm that
      these
      details are correct. If they are not, please return to the Business Profile form and <a routerLink="/business-profile">update
        your
        information</a>.
    </p>

    <h2>Business Information</h2>
    <table class="summary-table">
      <tr *ngFor="let item of businessInfoData; let i = index;">
        <td [ngClass]="{'table-row': i%2==0, 'row-alt': i%2==1 }">{{ item.label}}</td>
        <td [ngClass]="{'table-row': i%2==0, 'row-alt': i%2==1 }">{{ item.value}}</td>
      </tr>
    </table>

    <h2>Business Address</h2>
    <table class="summary-table">
      <tr *ngFor="let item of businessAddressData; let i = index;">
        <td [ngClass]="{'table-row': i%2==0, 'row-alt': i%2==1 }">{{ item.label}}</td>
        <td [ngClass]="{'table-row': i%2==0, 'row-alt': i%2==1 }" [innerHTML]="item.value"></td>
      </tr>
    </table>

    <h2>Primary Contact</h2>
    <table class="summary-table">
      <tr *ngFor="let item of primaryContactData; let i = index;">
        <td [ngClass]="{'table-row': i%2==0, 'row-alt': i%2==1 }">{{ item.label}}</td>
        <td [ngClass]="{'table-row': i%2==0, 'row-alt': i%2==1 }">{{ item.value}}</td>
      </tr>
    </table>

    <h2>Additional Contact</h2>
    <table class="summary-table">
      <tr *ngFor="let item of additionalContactData; let i = index;">
        <td [ngClass]="{'table-row': i%2==0, 'row-alt': i%2==1 }">{{ item.label}}</td>
        <td [ngClass]="{'table-row': i%2==0, 'row-alt': i%2==1 }">{{ item.value}}</td>
      </tr>
    </table>

    <h2 *ngIf="!nextRoute" class="blue-header">DECLARATIONS AND CONSENT</h2>
    <div [formGroup]="form" *ngIf="!nextRoute" style="padding-left: 10px;">
      <section style="display: flex">
        <input type="checkbox"  formControlName="declarationofcorrectinformation">
        <span class="error-states">*</span>
        <div style="padding-left: 10px;"> I certify that, to the best of my knowledge, the information I have provided
          on
          my Business Profile is
          complete, honest, and accurate. I am aware that later discovery of an omission or misrepresentation may be
          grounds for any finding of suitability to be reversed or for being prosecuted under provincial law.</div>
      </section>
      <section style="display: flex">
        <input type="checkbox" formControlName="foippaconsent">
        <span class="error-states">*</span>
        <div style="padding-left: 10px;"> The Security Programs Division will collect your personal information for the
          purpose of fulfilling the requirements of the Pill Press and Related Equipment Control Act and associated
          regulations in Pill Press registration, compliance and enforcement matters in accordance with Sections 26 (a)
          and
          (c) of the Freedom of Information and Protection of Privacy Act. Should you have any questions about the
          collection, use, or disclosure of personal information, please contact the Senior Policy Analyst, Security
          Programs Division via mail to PO Box 9217 Stn Prov Govt Victoria, BC V8W 9J1; email to
          securitylicensing@gov.bc.ca; or by telephone at 1-855-587-0185.</div>
      </section>
    </div>

    <div *ngIf="!declarationsValid() && form.touched" style="background-color: #F2F2F2; margin-top: 10px; border-radius: 5px; padding: 10px; font: 15px Myriad Pro Regular #494949;">
      <i class="fas fa-exclamation-triangle error-states" style="margin-right: 10px;"></i>
      <span class="error-states">Please complete the declarations and consent section.</span>
    </div>


    <div style="margin-top: 30px; display: flex; justify-content: space-between; position: relative;">
      <section>
        <!-- <span class="error-states">*</span> <i>Required field</i> -->
        
        <a routerLink="/business-profile"><i class="fas fa-pencil-alt"></i> Edit Business Profile</a>
      </section>
      <section>
        <div [ngBusy]="busy2"></div>
        <button *ngIf="nextRoute" class="btn btn-primary" (click)="router.navigateByUrl(nextRoute + '/' + id)">CONTINUE TO APPLICATION</button>
        <button *ngIf="!nextRoute" class="btn btn-primary" (click)="markAsTouched(); save()">SAVE</button>
      </section>
    </div>
  </div>

  <div *ngIf="!nextRoute" class="col-lg-4 col-sm-12" style="position: relative">
    <p></p>
    <section class="submit-container">
      <table>
        <tr>
          <td>
            <h2 class="round-icon-wrapper"><i class="fas fa-question"></i></h2>
          </td>
          <td style="padding-left: 10px">
            <h2>Update your personal information</h2>
          </td>
        </tr>
      </table>
      <div class="submit-content">
        <p>If you find an error in your personal information, please contact Service BC, ICBC or AddressChangeBC to
          correct
          it.
        </p>
        <ul>
          <li>
            <a style="color: #fff;" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/change-personal-information">BC
              Service Card</a>
          </li>
          <li>
            <a style="color: #fff;" href="https://www.icbc.com/driver-licensing/getting-licensed/Pages/Change-your-address-or-name.aspx">ICBC</a>
          </li>
          <li>
            <a style="color: #fff;" href="https://www.addresschange.gov.bc.ca/">AddressChangeBC</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="submit-container" style="background-color: #F2F2F2; color:#000; border: none;">
      <h2 style="color: #000">Collection Notice:</h2>
      <div class="submit-content">
        <p>
          The Security Programs Division (SPD) will collect your personal information for the purpose of fulfilling
          the requirements
          of the Cannabis Control and Licensing Act (CCLA) and associated regulations in accordance with Sections 26
          (a)
          and (c) of the Freedom of Information and Protection of Privacy Act. Should you have any questions about
          the
          collection, use, or disclosure of personal information, please contact the Senior Policy Analyst, Security
          Programs
          Division via mail to PO Box 9217 Stn Prov Govt Victoria, BC V8W 9J1; email to
          <a href="mailto:cannabissecurityscreening@gov.bc.ca">cannabissecurityscreening@gov.bc.ca</a>;
          or by telephone at 1-855-587-0185.</p>
      </div>
    </section>
  </div>
</div>