<div style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div class="home-header-wrapper">
    <div class="home-margins">
      <div class="row">

        <div class="col-md-7 col-sm-12">
          <div class="jumbotron home-header">
            <h2>
              Register to own or sell a Pill Press
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              <br />
              You will need to have a registered Business BCeID to access the Pill press Portal
            </p>
            <div class="text-left">
              <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="window.location.href='https://www.bceid.ca/register/'"
                tabindex="3">
                <strong>REGISTER FOR A BUSINESS BCeID</strong>
                <br>
              </button>
              <span style="padding: 10px;">OR</span>
              <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="window.location.href='login'"
                tabindex="3">
                <strong>LOG IN</strong>
                <br>
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-5 ">
          <div class="side-box-wrapper" style="margin-left: -15px;">
            <section class="side-box">
              <section style="display: flex">
                <button mat-fab class="fab-button mat-elevation-z0">
                  <mat-icon class="icon" aria-label="description icon">description</mat-icon>
                </button>
                <h2>Useful Links & Information</h2>
              </section>
              <p style="padding-top: 30px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div style="float: right;">
                <button class="btn btn-primary" routerLink="/policy-document/application-stats"
                  tabindex="3">Learn More</button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
