<div style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div class="home-header-wrapper">
    <div class="home-margins">
      <div class="jumbotron home-header">
        <h2>
          Register to own or sell a Pill Press
        </h2>
        <div class="text-left">
          <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="window.location.href='https://www.bceid.ca/directories/bluepages/details.aspx?serviceID=6166 '"
            tabindex="3">
            <strong>REGISTER FOR A BUSINESS BCeID</strong>
            <br>
          </button>
          <span style="padding: 10px;">OR</span>
          <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="window.location.href='login'" tabindex="3">
            <strong>LOG IN</strong>
            <br>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="row" style="margin: 0;">
    <div class="col-md-7 col-sm-12">
      <div style="padding-left:0px; padding-bottom:100px;">
        <p>
          If you own, use, possess, rent or lease, or <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/definition#sell"
            target="_blank">sell</a> pill presses and other <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-controlled-equipment"
            target="_blank">Controlled Equipment</a>, you have an obligation to register your equipment on the Pill
          Press Online Registry. This portal enables you to easily register your equipment.
        </p>
        <h2>I'm ready</h2>
        <p>
          You need a <b>Business</b> BCeID to access the Pill Press Online Registry. If you have one, login to the
          Online Registry. If you don’t, register for a <a href="https://www.bceid.ca/directories/bluepages/details.aspx?serviceID=6166" target="_blank">Business
            BCeID</a>.
        </p>
        <h2>I need more information</h2>
        <ul class="arrow">
          <li>Learn about the <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/about-act"
              target="_blank">Pill Press and Related Controlled Equipment Act</a></li>
          <li>Get familiar with the <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-online-registry"
              target="_blank">process to register</a> your Controlled Equipment</li>
          <li>
            Identify what owner category applies to you:
            <ul class="default-ul">
              <li><a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-authorized-owner"
                  target="_blank">Authorized Owner</a></li>
              <li><a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-waiver-holder"
                  target="_blank">Waiver Holder</a></li>
              <li><a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/pill-press-registered-seller"
                  target="_blank">Registered Seller</a></li>
            </ul>
          </li>
        </ul>
        <h2>I need help</h2>
        <p>Contact Pill Press Registry services at <a href="mailto:PillPressLicensing@gov.bc.ca">PillPressLicensing@gov.bc.ca</a>
          or by phone at 1-855-587-0185 (Option 1).</p>
      </div>
    </div>

    <div class="col-md-5 ">
      <div class="side-box-wrapper" style="margin-left: -15px; margin-top: -300px;">
        <section class="side-box">
          <h2>BCeID Help Desk</h2>
          <p>
            <img src="assets/logo-bceid_bcgov.png" />
          </p>
          <p style="padding-top: 30px;">
            Contact the BCeID Help Desk if you're having problems registering for a BCeID, logging in with your BCeID,
            or have any other questions about BCeID. The BCeID Help Desk is open Monday to Friday (except statutory
            holidays) from 7:30am to 5:00pm Pacific Time / 8:30am to 6:00pm Mountain Time.
          </p>
          <p>
            <fa-icon [icon]="faPhone"></fa-icon> &nbsp;
            <b>Phone</b>
          </p>
          <p>
            1 888 356-2741 (Canada and USA toll free) <br />
            604 660-2355 (Within lower mainland or outside Canada and USA)
          </p>
          <p>
            <fa-icon [icon]="faEnvelope"></fa-icon> &nbsp;
            <b>Email</b>
          </p>
          <p>
            Contact us using our <a href="https://www.bceid.ca/help_request/default.aspx?referrer=AB%2f2">online
              form</a> or at
            <a href="mailto:BCeIDREgistrationDesk@gov.bc.ca">BCeIDRegistrationDesk@gov.bc.ca</a>
          </p>
        </section>
      </div>
      <div class="side-box-wrapper" style="margin-left: -15px; margin-top: -175px;">
        <section class="side-box">
          <p><b>Why do I need to register my pill press or related equipment?</b></p>
          <p>Learn more about Pill Press legislation in BC</p>
          <div style="float: right;">
            <a class="btn btn-primary" href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press"
              target="blank" tabindex="3">
              VISIT THE PILL PRESS WEBSITE
            </a>
          </div>
          <p>&nbsp;</p>
        </section>
      </div>
    </div>
  </div>
</div>
