<div class="form-wrapper" style="position: relative;">
  <div [ngBusy]="[busy] || [busyPromise]"></div>
  <div class="row" [formGroup]="form">
    <div class="col-lg-12 col-sm-12">
      <div [formGroup]="form">
        <div>
          <section>
            <h2 class="step">Step 1</h2>
            <h1>
              Report of Sale
            </h1>
            <p>
              Please complete your Report of Sale below. Your information will only be saved once you click the Save &
              Continue button at the end of the page.
            </p>
          </section>

          <h3 class="blue-header">SOLD EQUIPMENT IDENTIFICATION</h3>
          <section formGroupName="equipmentRecord" class="padded-section">

            <app-field label="Equipment Type" [valid]="true" errorMessage="Please specify the make" [required]="true">
              <input type="text" class="form-control" readonly formControlName="equipmentType" style="width: 680px"
                     maxlength="100">
            </app-field>

            <section *ngIf="form.get('equipmentRecord.howWasEquipmentBuilt').value === 'Commercially Manufactured'">
              <app-field label="Make"
                         [valid]="form.get('equipmentRecord.equipmentMake').valid || !form.get('equipmentRecord.equipmentMake').touched"
                         errorMessage="Please specify the make" [required]="true">
                <input type="text" class="form-control" readonly formControlName="equipmentMake" style="width: 680px"
                       maxlength="100">
              </app-field>

              <app-field label="Model"
                         [valid]="form.get('equipmentRecord.equipmentModel').valid || !form.get('equipmentRecord.equipmentModel').touched"
                         errorMessage="Please specify the model" [required]="true">
                <input type="text" class="form-control" readonly formControlName="equipmentModel" style="width: 680px"
                       maxlength="100">
              </app-field>

              <app-field label="Serial Number"
                         [valid]="form.get('equipmentRecord.serialNumber').valid || !form.get('equipmentRecord.serialNumber').touched"
                         errorMessage="Please provide the serial number" [required]="true">
                <input type="text" class="form-control" readonly formControlName="serialNumber" style="width: 680px"
                       maxlength="100">
              </app-field>
            </section>

            <section *ngIf="form.get('equipmentRecord.customBuiltSerialNumber').value">
              <app-field label="Key Part Serial Number" errorMessage="Please provide an answer to the question above"
                         [valid]="form.get('equipmentRecord.customBuiltSerialNumber').valid || !form.get('customBuiltSerialNumber').touched"
                         [required]="true">
                <input type="text" readonly formControlName="customBuiltSerialNumber" class="form-control"
                       style="width: 680px">
              </app-field>
            </section>

            <app-field [valid]="true" [required]="true" errorMessage="Please specify the Equipment Registry Number">
              <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/definition#ern" target="_blank">
                <strong>Equipment Registry Number</strong>
              </a>
              <span class="error-states"> *</span>
              <div style="margin-top:10px;">
                <input type="text" class="form-control" readonly formControlName="name" style="width: 680px" maxlength="100">
              </div>
            </app-field>

          </section>

          <h3 class="blue-header">DETAILS OF SALE</h3>
          <section class="padded-section">
            <div class="notes">
              <fa-icon [icon]="faInfoCircle" style="color: #003366; margin-right: 10px;"></fa-icon>
              <span>The term “sell” under the Act includes: offer for sale, expose for sale, have in possession for
                sale, distribute,
                give, transfer, lend, send, rent, or otherwise dispose of, whether for consideration (i.e. money) and
                whether
                by wholesale, retail, or private sale.</span>
            </div>

            <app-field label="What is the date on which the sale was made?" [required]="true"
              [valid]="form.get('dateOfSale').valid || !form.get('dateOfSale').touched"
              errorMessage="Please provide the date on which the sale was made.">
              <input type="text" class="form-control" formControlName="dateOfSale" placeholder="mm-dd-yyyy"
                [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()" readonly
                style="width: 200px; background-color: #fff;">
              <mat-datepicker #picker></mat-datepicker>
            </app-field>

            <app-field label="Please indicate the type of sale for this piece of Controlled Equipment" [required]="true"
              [valid]="form.get('typeOfSale').valid || !form.get('typeOfSale').touched"
              errorMessage="Please provide the type of sale for this piece of Controlled Equipment.">
              <select class="form-control" style="width: 250px;" formControlName="typeOfSale">
                <option value="">Please select an option</option>
                <option value="Sold">Sold</option>
                <option value="Rented">Rented</option>
                <option value="Leased">Leased</option>
                <option value="GivenLoaned">Given/Loaned</option>
                <option value="Other">Other</option>
              </select>
              <section style="padding-top: 10px" *ngIf="form.get('typeOfSale').value === 'Other'">
                <app-field [valid]="form.get('typeOfSaleOther').valid || !form.get('typeOfSaleOther').touched"
                  errorMessage='Please specify the "other" type of sale'>
                  <i>If Other, Please specify</i>&nbsp;
                  <span class="error-states">*</span>
                  <br>
                  <input type="text" class="form-control" formControlName="typeOfSaleOther" style="width: 340px">
                </app-field>
              </section>
            </app-field>

            <app-field
              label="Did you retain any rights to own, use, or possess this piece of equipment after the sale transaction was completed?"
              errorMessage="Please select yes or no"
              [valid]="form.get('rightsToOwnuseOrPossessRetained').valid || !form.get('rightsToOwnuseOrPossessRetained').touched"
              [showChevrons]="false" [required]="true">
              <input type="radio" [value]="true" name="rightsToOwnuseOrPossessRetained"
                formControlName="rightsToOwnuseOrPossessRetained">
              <span style="padding-right: 10px;">&nbsp;Yes</span>
              <input type="radio" [value]="false" name="rightsToOwnuseOrPossessRetained"
                formControlName="rightsToOwnuseOrPossessRetained">
              <span>&nbsp;No</span>
            </app-field>

            <app-field label="What was the method of payment used to purchase this piece of Controlled Equipment?"
              [required]="true" [valid]="form.get('methodOfPayment').valid || !form.get('methodOfPayment').touched"
              errorMessage="Please indicate the method of payment that was used">
              <select class="form-control" style="width: 250px;" formControlName="methodOfPayment">
                <option value="">Please select an option</option>
                <option value="CreditCard">Credit Card</option>
                <option value="DebitCard">Debit Card</option>
                <option value="Cheque">Cheque</option>
                <option value="Other">Other</option>
              </select>
              <section *ngIf="form.get('methodOfPayment').value === 'Other'">
                <app-field [valid]="form.get('methodOfPaymentOther').valid || !form.get('methodOfPaymentOther').touched"
                  errorMessage='Please specify what "other" method of payment was used'>
                  <i>If Other, Please specify</i>&nbsp;
                  <span class="error-states">*</span>
                  <br>
                  <input type="text" class="form-control" formControlName="methodOfPaymentOther" style="width: 340px">
                </app-field>
              </section>
            </app-field>

            <app-field label="Where will this piece of equipment reside after it is sold?" [required]="true"
              [valid]="form.get('whereWillEquipmentReside').valid || !form.get('whereWillEquipmentReside').touched"
              errorMessage="Please indicate where this piece of equipment will reside">
              <select class="form-control" style="width: 250px;" formControlName="whereWillEquipmentReside">
                <option value="">Please select an option</option>
                <option [value]="true">BC</option>
                <option [value]="false">Outside of BC</option>
              </select>
            </app-field>

            <app-field formGroupName="civicAddressOfPurchaser"
              label="What is the civic address at which the purchaser will ordinarily store this piece of Controlled Equipment?"
              [required]="true">
              <p></p>
              <div class="row">
                <section class="col-md-6 col-xs-12">
                  <app-field label="Street Address 1" [valid]="isValidOrNotTouched('civicAddressOfPurchaser.streetLine1')"
                    errorMessage="Please enter the street address">
                    <input type="text" formControlName="streetLine1" class="form-control">
                  </app-field>
                  <app-field label="City" [valid]="isValidOrNotTouched('civicAddressOfPurchaser.city')"
                    errorMessage="Please enter the city or town">
                    <input type="text" formControlName="city" class="form-control">
                  </app-field>
                  <app-field label="Country" [valid]="isValidOrNotTouched('civicAddressOfPurchaser.country')"
                    errorMessage="Please enter the country">
                    <input type="text" formControlName="country" class="form-control">
                  </app-field>
                </section>
                <section class="col-md-6 col-xs-12">
                  <app-field label="Street Address 2">
                    <input type="text" formControlName="streetLine2" class="form-control">
                  </app-field>
                  <div class="row">
                    <section class="col-md-6 col-xs-12">
                      <app-field label="Province/State"
                        [valid]="isValidOrNotTouched('civicAddressOfPurchaser.province')"
                        errorMessage=" Please enter a province/state">
                        <input type="text" class="form-control" formControlName="province">
                      </app-field>
                    </section>
                    <section class="col-md-6 col-xs-12">
                      <app-field label="Postal/Zip Code"
                        [valid]="isValidOrNotTouched('civicAddressOfPurchaser.postalCode')"
                        errorMessage="Please enter a Canadian postal code">
                        <input type="text" formControlName="postalCode" class="form-control">
                      </app-field>
                    </section>
                  </div>
                </section>
              </div>
            </app-field>

            <app-field
              label="Is the address where the purchaser will ordinarily store this piece of equipment a private dwelling house?"
              [showChevrons]="false" errorMessage="Please select yes or no"
              [valid]="form.get('privateDwelling').value || !form.get('privateDwelling').touched">
              <input type="radio" name="privateDwelling" formControlName="privateDwelling" value="Yes">
              <span style="padding-right: 20px;">&nbsp;Yes</span>
              <input type="radio" name="privateDwelling" formControlName="privateDwelling" value="No">
              <span style="padding-right: 20px;">&nbsp;No</span>
              <input type="radio" name="privateDwelling" formControlName="privateDwelling" value="Unkwown">
              <span>&nbsp;Unknown</span>
            </app-field>

          </section>

          <h3 class="blue-header">PURCHASER INFORMATION</h3>
          <section class="padded-section">
            <div class="notes">
              <fa-icon [icon]="faInfoCircle" style="color: #003366; margin-right: 10px;"></fa-icon>
              <span>
                The term "purchaser" includes any person or business to which this piece of Controlled Equipment was
                sold,
                rented, leased, given, loaned, or otherwise distributed.
              </span>
            </div>


            <app-field label="Was this piece of Controlled Equipment purchased by an individual (for their own personal use), or by a business?"
                       errorMessage="Please select an option above"
                       [valid]="form.get('purchasedByIndividualOrBusiness').valid || !form.get('purchasedByIndividualOrBusiness').touched"
                       [showChevrons]="false" [required]="true">
              <input type="radio" name="purchasedByIndividualOrBusiness" formControlName="purchasedByIndividualOrBusiness" [value]="false"> Business &nbsp;
              <input type="radio" name="purchasedByIndividualOrBusiness" formControlName="purchasedByIndividualOrBusiness" [value]="true"> Individual
            </app-field>

            <!-- Business -->
            <section *ngIf="form.get('purchasedByIndividualOrBusiness').value === false">
              <app-field label="Please provide the name of the business that purchased this piece of Controlled Equipment." [required]="true"
                         [valid]="form.get('nameOfPurchaserBusiness').valid || !form.get('nameOfPurchaserBusiness').touched" errorMessage="Please provide an answer to the question above">
                <input class="form-control" maxlength="100" style="width: 500px" type="text" formControlName="nameOfPurchaserBusiness">
              </app-field>
              <app-field label="What is the registration number (i.e. corporate registry number) for the purchaser?"
                         [required]="true" errorMessage="Please provide the registration number for the purchaser"
                         [valid]="form.get('purchaserRegistrationNumber').valid || !form.get('purchaserRegistrationNumber').touched">
                <input class="form-control" maxlength="10" style="width: 150px;" type="text"
                       formControlName="purchaserRegistrationNumber">
              </app-field>
              <app-field label='What is the name under which the purchaser ordinarily carries on business (i.e. a "doing business as" name)?'
                         [required]="true" errorMessage="Please provide the name under which the purchaser ordinarily carries on business"
                         [valid]="form.get('purchaserdBaName').valid || !form.get('purchaserdBaName').touched">
                <input class="form-control" maxlength="100" style="width: 500px" type="text"
                       formControlName="purchaserdBaName">
              </app-field>

              <app-field formGroupName="purchasersBusinessAddress"
                         label="Please provide the purchaser's civic address.">
                <p></p>
                <div class="row">
                  <section class="col-md-6 col-xs-12">
                    <app-field label="Street Address 1"
                               [valid]="isValidOrNotTouched('purchasersBusinessAddress.streetLine1')"
                               errorMessage="Please enter the street address" [required]="true">
                      <input type="text" formControlName="streetLine1" class="form-control">
                    </app-field>
                    <app-field label="City" [valid]="isValidOrNotTouched('purchasersBusinessAddress.city')"
                               errorMessage="Please enter the city or town" [required]="true">
                      <input type="text" formControlName="city" class="form-control">
                    </app-field>
                    <app-field label="Country" [valid]="isValidOrNotTouched('purchasersBusinessAddress.country')"
                               errorMessage=" Please enter the country" [required]="true">
                      <input type="text" formControlName="country" class="form-control">
                    </app-field>
                  </section>
                  <section class="col-md-6 col-xs-12">
                    <app-field label="Street Address 2">
                      <input type="text" formControlName="streetLine2" class="form-control">
                    </app-field>
                    <div class="row">
                      <section class="col-md-6 col-xs-12">
                        <app-field label="Province/State"
                                   [valid]="isValidOrNotTouched('purchasersBusinessAddress.province')"
                                   errorMessage=" Please enter a province/state" [required]="true">
                          <input type="text" formControlName="province" class="form-control">
                        </app-field>
                      </section>
                      <section class="col-md-6 col-xs-12">
                        <app-field label="Postal/Zip Code"
                                   [valid]="isValidOrNotTouched('purchasersBusinessAddress.postalCode')"
                                   errorMessage="Please enter a Canadian postal code" [required]="true">
                          <input type="text" formControlName="postalCode" class="form-control">
                        </app-field>
                      </section>
                    </div>
                  </section>
                </div>
              </app-field>
              <div class="wide">
                <app-field label="Please provide the legal name of the person responsible for making the purchase on behalf of the business?"
                           [required]="true"
                           [valid]="form.get('legalNameOfPersonResponsibleForBusiness').valid || !form.get('legalNameOfPersonResponsibleForBusiness').touched"
                           errorMessage="Please provide an answer to the question above">
                  <input class="form-control" style="width:500px" maxlength="100" type="text"
                         formControlName="legalNameOfPersonResponsibleForBusiness">
                </app-field>
                <app-field label="Please provide the business telephone number of the person responsible for making the purchase on behalf of the business?"
                           [required]="true"
                           [valid]="form.get('phoneNumberOfPersonResponsibleForBusiness').valid || !form.get('phoneNumberOfPersonResponsibleForBusiness').touched"
                           errorMessage="Please enter your 10-digit business phone number, without including any spaces">
                  <input type="text" formControlName="phoneNumberOfPersonResponsibleForBusiness" class="form-control"
                         style="width: 250px;" maxlength="10" (keydown)="rejectIfNotDigitOrBackSpace($event)">
                </app-field>
                <app-field label="Please provide the business email address of the person responsible for making the purchase on behalf of the business?"
                           [required]="true"
                           [valid]="form.get('emailOfPersonResponsibleForBusiness').valid || !form.get('emailOfPersonResponsibleForBusiness').touched"
                           errorMessage="Please enter a valid email address">
                  <input type="text" formControlName="emailOfPersonResponsibleForBusiness" class="form-control"
                         style="width:500px" maxlength="100">
                </app-field>
                <div class="notes">
                  <!--<fa-icon [icon]="faExclamationCircle" style="color: #fcba19; margin-right: 10px;"></fa-icon>-->
                  <fa-icon [icon]="faInfoCircle" style="color: #003366; margin-right: 10px;"></fa-icon>
                  <span>You are required to keep records related to this sale for two years.</span>
                </div>
                <app-field label="Please check the geographical location of business purchaser:" [required]="true"
                           [valid]="form.get('geographicalLocationOfBusinessPurchaser').valid || !form.get('geographicalLocationOfBusinessPurchaser').touched"
                           errorMessage="Please indicate the geographical location">
                  <select class="form-control" style="width: 250px;"
                          formControlName="geographicalLocationOfBusinessPurchaser">
                    <option value="">Please select an option</option>
                    <option value="Canada">Canada</option>
                    <option value="UnitedStates">United States</option>
                    <option value="europe">Europe</option>
                    <option value="Asia">Asia</option>
                    <option value="SouthAmerica">South America</option>
                    <option value="Africa">Africa</option>
                  </select>
                </app-field>
              </div>
            </section>

            <!-- Individual -->
            <section *ngIf="form.get('purchasedByIndividualOrBusiness').value === true">
              <app-field label="Please provide the legal name of the individual who purchased the Controlled Equipment."
                         [required]="true"
                         [valid]="form.get('legalNameOfPurchaserIndividual').valid || !form.get('legalNameOfPurchaserIndividual').touched"
                         errorMessage="Please enter the purchaser's legal name">
                <input class="form-control" style="width:500px" maxlength="100" type="text"
                       formControlName="legalNameOfPurchaserIndividual">
              </app-field>
              <app-field formGroupName="purchasersCivicAddress" label="Please provide the purchaser's civic address.">
                <p></p>
                <div class="row">
                  <section class="col-md-6 col-xs-12">
                    <app-field label="Street Address 1"
                               [valid]="isValidOrNotTouched('purchasersCivicAddress.streetLine1')"
                               errorMessage="Please enter your street address" [required]="true">
                      <input type="text" formControlName="streetLine1" class="form-control">
                    </app-field>
                    <app-field label="City" [valid]="isValidOrNotTouched('purchasersCivicAddress.city')"
                               errorMessage="Please enter the city or town" [required]="true">
                      <input type="text" formControlName="city" class="form-control">
                    </app-field>
                    <app-field label="Country" [valid]="isValidOrNotTouched('purchasersCivicAddress.country')"
                               errorMessage=" Please enter the country" [required]="true">
                      <input type="text" formControlName="country" class="form-control">
                    </app-field>
                  </section>
                  <section class="col-md-6 col-xs-12">
                    <app-field label="Street Address 2">
                      <input type="text" formControlName="streetLine2" class="form-control">
                    </app-field>
                    <div class="row">
                      <section class="col-md-6 col-xs-12">
                        <app-field label="Province/State"
                                   [valid]="isValidOrNotTouched('purchasersCivicAddress.province')"
                                   errorMessage=" Please enter a province/state" [required]="true">
                          <input type="text" formControlName="province" class="form-control">
                        </app-field>
                      </section>
                      <section class="col-md-6 col-xs-12">
                        <app-field label="Postal/Zip Code"
                                   [valid]="isValidOrNotTouched('purchasersCivicAddress.postalCode')"
                                   errorMessage="Please enter a postal/zip code" [required]="true">
                          <input type="text" formControlName="postalCode" class="form-control">
                        </app-field>
                      </section>
                    </div>
                  </section>
                </div>
              </app-field>
              <app-field label="Please provide the purchaser's telephone number." [required]="true"
                         [valid]="form.get('purchasersTelephoneNumber').valid || !form.get('purchasersTelephoneNumber').touched"
                         errorMessage="Please enter your 10-digit business phone number, without including any spaces">
                <input type="text" formControlName="purchasersTelephoneNumber" class="form-control"
                       style="width: 250px;" maxlength="10" (keydown)="rejectIfNotDigitOrBackSpace($event)">
              </app-field>
              <app-field label="Please provide the purchaser's email address. " [required]="true"
                         [valid]="form.get('purchasersEmailAddress').valid || !form.get('purchasersEmailAddress').touched"
                         errorMessage="Please enter a valid email address">
                <input type="text" formControlName="purchasersEmailAddress" class="form-control" style="width:500px"
                       maxlength="100">
              </app-field>
              <div class="notes">
                <fa-icon [icon]="faInfoCircle" style="color: #003366; margin-right: 10px;"></fa-icon>
                <span>
                  If selling Controlled Equipment to an individual, the seller must collect a unique alphanumeric
                  number from
                  a piece of identification (ID) which: is issued to the purchaser by a government, shows the
                  purchaser's
                  photograph and legal name, and is not expired.
                </span>
              </div>
              <app-field label="Did you collect the number assigned to this purchaser's government issued photo ID?"
                         errorMessage="Please select yes or no"
                         [valid]="form.get('idNumberCollected').valid || !form.get('idNumberCollected').touched"
                         [required]="true">
                <input type="radio" [value]="true" name="idNumberCollected" formControlName="idNumberCollected">
                <span style="padding-right: 10px;">&nbsp;Yes</span>
                <input type="radio" [value]="false" name="idNumberCollected" formControlName="idNumberCollected">
                <span>&nbsp;No</span>
              </app-field>
              <app-field *ngIf="form.get('idNumberCollected').value === true"
                         label="Please describe the type of ID from which you collected the number (i.e. driver's licence). "
                         [required]="true"
                         [valid]="form.get('typeOfIdNumberCollected').valid || !form.get('typeOfIdNumberCollected').touched"
                         errorMessage="Please provide an answer to the question above">
                <input type="text" formControlName="typeOfIdNumberCollected" class="form-control" style="width:500px"
                       maxlength="100">
              </app-field>
              <div class="notes" *ngIf="form.get('idNumberCollected').value === true">
                <fa-icon [icon]="faExclamationCircle" style="color: #fcba19; margin-right: 10px;"></fa-icon>
                <span>
                  Note: You are required to keep records related to this sale, including ID information, for two
                  years.
                </span>
              </div>
            </section>

          </section>
          <h3 class="blue-header">PURCHASER AUTHORIZATION</h3>
          <section class="padded-section">
            <div class="notes">
              <fa-icon [icon]="faInfoCircle" style="color: #003366; margin-right: 10px;"></fa-icon>
              <span>
                A "person in British Columbia" may include:
                <ul>
                  <li>an individual purchaser who resides or carries on business in BC;</li>
                  <li>a non-individual purchaser registered in or carrying on business in BC;</li>
                  <li>a purchaser who ships the equipment to a BC location;</li>
                  <li>a purchaser who ordinarily stores equipment at a BC location.</li>
                </ul>
              </span>
            </div>

            <app-field label='Is the purchaser a "person in British Columbia"?' errorMessage="Please select yes or no"
                       [valid]="form.get('isPurchaserAPersonOfBC').valid || !form.get('isPurchaserAPersonOfBC').touched"
                       [showChevrons]="false" [required]="true">
              <input type="radio" [value]="true" name="isPurchaserAPersonOfBC" formControlName="isPurchaserAPersonOfBC">
              <span style="padding-right: 10px;">&nbsp;Yes</span>
              <input type="radio" [value]="false" name="isPurchaserAPersonOfBC"
                     formControlName="isPurchaserAPersonOfBC">
              <span>&nbsp;No</span>
            </app-field>
            <section *ngIf="form.get('isPurchaserAPersonOfBC').value === true">
              <app-field label="How is the purchaser authorized to own, use, or possess Controlled Equipment?"
                         errorMessage="Please select all the options that apply" [required]="true">
                <p>Please select all the options that apply.</p>
                <input type="checkbox" formControlName="howIsPurchaseAuthorizedAO" style="margin-right: 10px;">
                <span>Authorized Owner (i.e. drug establishment or site licence issued by Health Canada)</span>
                <br>
                <input type="checkbox" formControlName="howIsPurchaserAuthorizedWaiver"
                       (change)="form.updateValueAndValidity()" style="margin-right: 10px;">
                <span>Waiver holder</span>
                <br>
                <input type="checkbox" formControlName="howIsPurchaserAuthorizedRegisteredSeller"
                       (change)="form.updateValueAndValidity()" style="margin-right: 10px;">
                <span>Registered Seller</span>
                <br>
                <input type="checkbox" formControlName="howIsPurchaserAuthorizedOther"
                       (change)="form.updateValueAndValidity()" style="margin-right: 10px;">
                <span>Other</span>
                <br>
                <br>
              </app-field>
            </section>

            <section *ngIf="form.get('howIsPurchaseAuthorizedAO').value === true">
              <h3 style="color: #38598A">Authorized Owner</h3>
              <div class="notes">
                <fa-icon [icon]="faInfoCircle" style="color: #003366; margin-right: 10px;"></fa-icon>
                <span>
                  Learn more about the following licences:
                  <ul>
                    <li>
                      <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/definition#del"
                         target="_blank">Drug Establishment Licence</a>
                    </li>
                    <li>
                      <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/pill-press/definition#sl"
                         target="_blank">Site Licence</a>
                    </li>
                  </ul>
                </span>
              </div>
              <app-field label="What kind of Health Canada licence does the purchaser have?"
                         errorMessage="Please select an answer to the question above" [showChevrons]="false" [required]="true">
                <p>Please select all the options that apply.</p>
                <input type="checkbox" formControlName="healthCanadaLicenseDEL" style="margin-right: 10px;">
                <span>Drug Establishment Licence</span>
                <br>
                <input type="checkbox" formControlName="healthCanadaLicenseSiteLicense"
                       (change)="form.updateValueAndValidity()" style="margin-right: 10px;">
                <span>Site Licence</span>
              </app-field>
              <hr>
            </section>

            <section *ngIf="form.get('healthCanadaLicenseDEL').value === true" class="padded-section">
              <app-field label="What is the name shown on the purchaser's Drug Establishment Licence?"
                         [showChevrons]="false" [required]="true"
                         [valid]="form.get('nameOnPurchasersDEL').valid || !form.get('nameOnPurchasersDEL').touched"
                         errorMessage="Please provide an answer to the question above">
                <input class="form-control" maxlength="100" style="width: 500px" type="text"
                       formControlName="nameOnPurchasersDEL">
              </app-field>

              <app-field label="What is the purchaser's Drug Establishment Licence number?" [showChevrons]="false"
                         [required]="true"
                         [valid]="form.get('purchasersDELNumber').valid || !form.get('purchasersDELNumber').touched"
                         errorMessage="Please provide an answer to the question above">
                <input class="form-control" maxlength="100" style="width: 500px" type="text"
                       formControlName="purchasersDELNumber">
              </app-field>

              <app-field label="What is the purchaser's Drug Establishment Licence expiry date?" [showChevrons]="false"
                         [valid]="form.get('purchasersDELExpiryDate').valid || !form.get('purchasersDELExpiryDate').touched"
                         errorMessage="Please provide the expiry date">
                <input type="text" class="form-control" formControlName="purchasersDELExpiryDate"
                       placeholder="mm-dd-yyyy" [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()"
                       readonly style="width: 200px; background-color: #fff;">
                <mat-datepicker #picker></mat-datepicker>
              </app-field>
              <hr>
            </section>

            <section *ngIf="form.get('healthCanadaLicenseSiteLicense').value === true" class="padded-section">
              <app-field label="What is the name shown on the purchaser's Site Licence?" [showChevrons]="false"
                         [required]="true"
                         [valid]="form.get('nameOnPurchasersSiteLicense').valid || !form.get('nameOnPurchasersSiteLicense').touched"
                         errorMessage="Please provide an answer to the question above">
                <input class="form-control" maxlength="100" style="width: 500px" type="text"
                       formControlName="nameOnPurchasersSiteLicense">
              </app-field>

              <app-field label="What is the purchaser's Site Licence number?" [showChevrons]="false" [required]="true"
                         [valid]="form.get('purchasersSiteLicenseNumber').valid || !form.get('purchasersSiteLicenseNumber').touched"
                         errorMessage="Please provide an answer to the question above">
                <input class="form-control" maxlength="100" style="width: 500px" type="text"
                       formControlName="purchasersSiteLicenseNumber">
              </app-field>

              <app-field label="What is the purchaser's Site Licence expiry date?" [showChevrons]="false"
                         [valid]="form.get('purchasersSiteLicenseExpiryDate').valid || !form.get('purchasersSiteLicenseExpiryDate').touched"
                         errorMessage="Please provide the expiry date">
                <input type="text" class="form-control" formControlName="purchasersSiteLicenseExpiryDate"
                       placeholder="mm-dd-yyyy" [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()"
                       readonly style="width: 200px; background-color: #fff;">
                <mat-datepicker #picker></mat-datepicker>
              </app-field>
              <hr>
            </section>

            <section *ngIf="form.get('howIsPurchaserAuthorizedWaiver').value === true">
              <h3 style="color: #38598A">Waiver Holder</h3>
              <app-field label="What is the purchaser's Waiver number?" [required]="true" [showChevrons]="false"
                         [valid]="form.get('purchasersWaiverNumber').valid || !form.get('purchasersWaiverNumber').touched"
                         errorMessage="Please provide the purchaser's Waiver number">
                <input class="form-control" maxlength="100" style="width: 500px" type="text"
                       formControlName="purchasersWaiverNumber">
              </app-field>
              <hr>
            </section>

            <section *ngIf="form.get('howIsPurchaserAuthorizedRegisteredSeller').value === true">
              <h3 style="color: #38598A">Registered Seller</h3>
              <app-field label="What is the purchaser's Registration number?" [required]="true" [showChevrons]="false"
                         [valid]="form.get('purchasersRegistrationNumber').valid || !form.get('purchasersRegistrationNumber').touched"
                         errorMessage="Please provide the purchaser's Registration number">
                <input class="form-control" maxlength="100" style="width: 500px" type="text"
                       formControlName="purchasersRegistrationNumber" (keydown)="rejectIfNotDigitOrBackSpace($event)">
              </app-field>
              <hr>
            </section>

            <section *ngIf="form.get('howIsPurchaserAuthorizedOther').value === true">
              <app-field [showChevrons]="false"
                         [valid]="form.get('purchasersOther').valid || !form.get('purchasersOther').touched"
                         errorMessage='Please specify the "other" authorization'>
                <i>If Other, Please specify</i>&nbsp;
                <span class="error-states">*</span>
                <br>
                <input type="text" class="form-control" formControlName="purchasersOther" style="width: 340px">
              </app-field>
              <hr>
            </section>

            <div class="notes">
              <fa-icon [icon]="faInfoCircle" style="color: #003366; margin-right: 10px;"></fa-icon>
              <span>
                If you have sold more than one piece of Controlled Equipment, please report the sale separately for each piece of equipment.
              </span>
            </div>

            <div *ngIf="!form.valid && form.touched" class="error-summary">
              <fa-icon [icon]="faExclamationTriangle" style=" margin-right: 10px;"></fa-icon>
              <span>Some required fields have not been completed</span>
            </div>
          </section>
        </div>
      </div>
      <div style="margin-top: 30px; display: flex; justify-content: space-between">
        <section>
          <!--<a href="javascript: void(0);" (click)="save(false)">
            <i class="fa fa-save" style="margin-right: 5px"></i>Save & Close</a>-->
        </section>
        <section>
          <button class="btn btn-primary" (click)="markAsTouched(); save(true)">SAVE & CONTINUE</button>
        </section>
      </div>
    </div>
  </div>
